{% extends "base.html" %} {% load static %} {% block ngapp %}ng-app="import"{% endblock %} {% block ngctrl %}ng-controller="importCtrl as main"{% endblock %} {% block title %}Import {% endblock %} {% block loader_js_bottom %}
<script type="text/javascript" src="{% static 'js/import.js' %}"></script>
{% endblock loader_js_bottom %} {% block page_header %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Import</h2>
    </div>
</div>
{% endblock %} 
{% block content_body %}
<div class="wrapper wrapper-content animated fadeIn" ng-cloak="">
    <div class="ibox">
        <div class="ibox-content" ng-class="main.page_loader.main ? 'sk-loading' : ''">
            {% include "common/loader.html" %}
            <div class="row">
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title" style=" height: 250px; margin-left: 20px;">
                            <br>
                            <br>
                            <br>
                            <!-- <a href="#" ng-click="import_dialog('questions')"><h2 align="center" style="color:#5778C9;"><b><span ng-if="!display_terms[0].questions" ng-cloak="">Questions</span><span ng-if="display_terms[0].questions" ng-cloak="">{$ display_terms[0].questions $}</span></b></h2></a> -->
                            <center><button class="btn btn-outline btn-danger" ng-click="import_dialog('image')">Image</button>
                            <button class="btn btn-outline btn-success" ng-click="import_dialog('questions')">Normal</button></center>
                            <p align="center">Import <span ng-if="!display_terms[0].questions" ng-cloak="">questions</span><span ng-if="display_terms[0].questions" ng-cloak="">{$ display_terms[0].questions $}</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title" style=" height: 250px; margin-left: 20px;">
                            <br>
                            <br>
                            <br>
                            <a href="#" ng-click="import_dialog('choices')"><h2 align="center" style="color:#5778C9;"><b>Choices</b></h2></a>
                            <p align="center">Import choices</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title" style=" height: 250px; margin-left: 20px;">
                            <br>
                            <br>
                            <br>
                            <a href="#" ng-click="import_dialog('effects')"><h2 align="center" style="color:#5778C9;"><b>Effects</b></h2></a>
                            <p align="center">Import effects</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title" style=" height: 250px; margin-left: 20px;">
                            <br>
                            <br>
                            <br>
                            <a href="#" ng-click="import_dialog('findings')"><h2 align="center" style="color:#5778C9;"><b>Findings</b></h2></a>
                            <p align="center">Import findings</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title" style=" height: 250px; margin-left: 20px;">
                            <br>
                            <br>
                            <br>
                            <a href="#" ng-click="import_dialog('recommendations')"><h2 align="center" style="color:#5778C9;"><b>Recommendations</b></h2></a>
                            <p align="center">Import recommendations</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal dialog_whole" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="wrapper wrapper-content animated fadeIn modalibox">
                <div class="ibox">
                    <div class="ibox-title ibox_title_reset">
                        <h3><span ng-if="!display_terms[0].questions" ng-cloak="">Question</span><span ng-if="display_terms[0].questions" ng-cloak="">{$ display_terms[0].questions $}</span></h3>
                    </div>

                    <div class="ibox-content" ng-class="main.page_loader.dialog ? 'sk-loading' : ''" ng-style="modal_style">
                        <div class="row">
                            <form class="form" name="form">
                                <div>
                                    <div class="col-sm-12">
                                        <label class="btn btn-outline btn-success" for="my-file-selector">
                                            <input type="file" style="display:none;" name="image" class="ng-pristine ng-untouched ng-valid ng-empty " file-model="record.images" id="my-file-selector" multiple accept=".png,.jpg,.jpeg">
                                            Choose file...
                                        </label>
                                    </div>
                                    <div class="col-sm-12"><br>
                                        <div class="lightBoxGallery">
                                            <div class="col-sm-4" ng-hide="image.upload" ng-repeat="(index, image) in ImageSrc">
                                                Image {$ $index +1 $}<br>
                                                <a href="{$ image.image $}" title="" data-gallery="">
                                                    <img src="{$ image.image $}"  class="img-rounded" style="height:100px;width:100px;"><br>
                                                </a>
                                                <ui-select ng-model="record.transaction_type[$index]">
                                                    <ui-select-match placeholder="{$ transaction_types2[0] ? 'Select...' : 'Please wait...' $}">{$ $select.selected.name $} - {$ $select.selected.set_no $}</ui-select-match>
                                                    <ui-select-choices repeat="transaction_type in transaction_types2 | filter: $select.search | limitTo:50">
                                                        <span ng-bind-html="transaction_type.name | highlight: $select.search"></span> - Set <span ng-bind-html="transaction_type.set_no | highlight: $select.search"></span> - <span ng-bind-html="transaction_type.transaction_code | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select><br><br>
                                                <input type="text" name="code" placeholder="Code" ng-model="record.code[$index]" required class="form-control">
                                                <input type="checkbox" ng-hide="true" name="deleted" ng-model="record.deleted[$index]">
                                                <div class="col-sm-12">
                                                    <table class="table">
                                                        <thead>
                                                            <th>Item #</th>
                                                            <th>Answer</th>
                                                            <th></th>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="(key, answer) in record.answer_keys[$index]">
                                                                <td>
                                                                    <input type="number" min="0" name="item" ng-model="answer.item_no" class="form-control">
                                                                </td>
                                                                <td>
                                                                    <div ng-repeat="(key2, multiple) in answer.answer">
                                                                        <div class="btn-group">
                                                                            <div class="btn-group" uib-dropdown>
                                                                                <button type="button" class="btn btn-outline btn-primary btn-xs" uib-dropdown-toggle>
                                                                                    Insert <span class="caret"></span>
                                                                                </button>
                                                                                <button type="button" ng-click="remove_multiple_answer(answer.answer,multiple)" class="btn btn-outline btn-primary btn-xs">
                                                                                    <i class="fa fa-minus"></i>
                                                                                </button>
                                                                                <ul role="menu" uib-dropdown-menu="" ng-click="$event.stopPropagation()" style="width: 500px;height: 250px;overflow: auto;">
                                                                                    <input type="text" name="search" style="margin: 5px;width: 98%;" ng-model="searchText" class="form-control" placeholder="Search...">
                                                                                    <div ng-repeat="symbolPerCategory in catergoryToFilter() | filter:filterCategory">
                                                                                        <label style="margin: 5px;">{$ symbolPerCategory.category $}</label><br>
                                                                                        <button style="margin: 5px;" title="{$symbol.name$}" ng-repeat="symbol in math_symbols | filter:{category:symbolPerCategory.category} | filter:searchText" class="btn btn-primary btn-outline btn-sm" ng-click="insertSymbol(symbol,multiple)">{$ symbol.symbol $}</button>
                                                                                    </div>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <textarea ng-model="multiple.name" ng-change="answerDisplay(multiple)" class="form-control"></textarea>
                                                                        <textarea ng-hide="true" ng-model="multiple.answer_display" class="form-control"></textarea><br>
                                                                        Preview: <span mathjax-bind="multiple.answer_display"></span>
                                                                    </div>
                                                                    <div>
                                                                        <div class="btn-group">
                                                                            <div class="btn-group" uib-dropdown>
                                                                                <button type="button" class="btn btn-outline btn-primary btn-xs" uib-dropdown-toggle>
                                                                                    Insert <span class="caret"></span>
                                                                                </button>
                                                                                <button type="button" ng-click="add_multiple_answer(answer.answer,key+1,multiple_answer_list[index][key+1])" class="btn btn-outline btn-primary btn-xs">
                                                                                    <i class="fa fa-plus"></i>
                                                                                </button>
                                                                                <ul role="menu" uib-dropdown-menu="" ng-click="$event.stopPropagation()" style="width: 500px;height: 250px;overflow: auto;">
                                                                                    <input type="text" name="search" style="margin: 5px;width: 98%;" ng-model="searchText" class="form-control" placeholder="Search...">
                                                                                    <div ng-repeat="symbolPerCategory in catergoryToFilter() | filter:filterCategory">
                                                                                        <label style="margin: 5px;">{$ symbolPerCategory.category $}</label><br>
                                                                                        <button style="margin: 5px;" title="{$symbol.name$}" ng-repeat="symbol in math_symbols | filter:{category:symbolPerCategory.category} | filter:searchText" class="btn btn-primary btn-outline btn-sm" ng-click="insertSymbol(key+1,symbol,multiple_answer_list[index][key+1],true)">{$ symbol.symbol $}</button>
                                                                                    </div>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <textarea ng-change="answerDisplay(multiple_answer_list[index][key+1])" ng-model="multiple_answer_list[index][key+1].name" class="form-control"></textarea><br>
                                                                        <textarea ng-hide="true" ng-model="multiple_answer_list[index][key+1].answer_display" class="form-control"></textarea>
                                                                        Preview: <span mathjax-bind="multiple_answer_list[index][key+1].answer_display"></span>
                                                                    </div>
                                                                    <!-- <div class="btn-group">
                                                                        <div class="btn-group" uib-dropdown>
                                                                            <button type="button" class="btn btn-outline btn-primary btn-xs" uib-dropdown-toggle>
                                                                                Insert <span class="caret"></span>
                                                                            </button>
                                                                            <ul role="menu" uib-dropdown-menu="" ng-click="$event.stopPropagation()" style="width: 500px;height: 250px;overflow: auto;">
                                                                                <input type="text" name="search" style="margin: 5px;width: 98%;" ng-model="searchText" class="form-control" placeholder="Search...">
                                                                                <div ng-repeat="symbolPerCategory in catergoryToFilter() | filter:filterCategory">
                                                                                    <label style="margin: 5px;">{$ symbolPerCategory.category $}</label><br>
                                                                                    <button style="margin: 5px;" title="{$symbol.name$}" ng-repeat="symbol in math_symbols | filter:{category:symbolPerCategory.category} | filter:searchText" class="btn btn-primary btn-outline btn-sm" ng-click="insertSymbol(symbol,answer)">{$ symbol.symbol $}</button>
                                                                                </div>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <textarea ng-model="answer.answer" ng-change="answerDisplay(answer)" class="form-control"></textarea>
                                                                    <textarea ng-hide="true" ng-model="answer.answer_display" class="form-control"></textarea><br>
                                                                    Preview: <span mathjax-bind="answer.answer_display"></span> -->
                                                                </td>
                                                                <td>
                                                                    <a href="" class="btn bt-outline btn-danger" ng-click="remove_answer(answer, key, $index)"><i class="fa fa-minus"></i></a> 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input type="number" min="0" name="item" ng-model="answer_list[$index].item_no" class="form-control">
                                                                </td>
                                                                <td>
                                                                    <div ng-repeat="(key3, multiple_list) in answer_list_arr[index]">
                                                                        <div class="btn-group">
                                                                            <div class="btn-group" uib-dropdown>
                                                                                <button type="button" class="btn btn-outline btn-primary btn-xs" uib-dropdown-toggle>
                                                                                    Insert <span class="caret"></span>
                                                                                </button>
                                                                                <button type="button" ng-click="remove_multiple_list_answer(multiple_list,index)" class="btn btn-outline btn-primary btn-xs">
                                                                                    <i class="fa fa-minus"></i>
                                                                                </button>
                                                                                <ul role="menu" uib-dropdown-menu="" ng-click="$event.stopPropagation()" style="width: 500px;height: 250px;overflow: auto;">
                                                                                    <input type="text" name="search" style="margin: 5px;width: 98%;" ng-model="searchText" class="form-control" placeholder="Search...">
                                                                                    <div ng-repeat="symbolPerCategory in catergoryToFilter() | filter:filterCategory">
                                                                                        <label style="margin: 5px;">{$ symbolPerCategory.category $}</label><br>
                                                                                        <button style="margin: 5px;" title="{$symbol.name$}" ng-repeat="symbol in math_symbols | filter:{category:symbolPerCategory.category} | filter:searchText" class="btn btn-primary btn-outline btn-sm" ng-click="insertSymbol(symbol,multiple_list,false)">{$ symbol.symbol $}</button>
                                                                                    </div>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <textarea ng-change="answerDisplay(multiple_list)" ng-model="multiple_list.name" class="form-control"></textarea><br>
                                                                        <textarea ng-hide="true" ng-model="multiple_list.answer_display" class="form-control"></textarea>
                                                                        Preview: <span mathjax-bind="multiple_list.answer_display"></span>
                                                                    </div>
                                                                    <div>
                                                                        <div class="btn-group">
                                                                            <div class="btn-group" uib-dropdown>
                                                                                <button type="button" class="btn btn-outline btn-primary btn-xs" uib-dropdown-toggle>
                                                                                    Insert <span class="caret"></span>
                                                                                </button>
                                                                                <button type="button" ng-click="add_multiple_list_answer(answer_list[$index], $index)" class="btn btn-outline btn-primary btn-xs">
                                                                                    <i class="fa fa-plus"></i>
                                                                                </button>
                                                                                <ul role="menu" uib-dropdown-menu="" ng-click="$event.stopPropagation()" style="width: 500px;height: 250px;overflow: auto;">
                                                                                    <input type="text" name="search" style="margin: 5px;width: 98%;" ng-model="searchText" class="form-control" placeholder="Search...">
                                                                                    <div ng-repeat="symbolPerCategory in catergoryToFilter() | filter:filterCategory">
                                                                                        <label style="margin: 5px;">{$ symbolPerCategory.category $}</label><br>
                                                                                        <button style="margin: 5px;" title="{$symbol.name$}" ng-repeat="symbol in math_symbols | filter:{category:symbolPerCategory.category} | filter:searchText" class="btn btn-primary btn-outline btn-sm" ng-click="insertSymbolList(symbol,answer_list[index],index)">{$ symbol.symbol $}</button>
                                                                                    </div>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <textarea id="answer_list_id" ng-enter="onEnter(answer_list[$index], $index)" ng-change="answerDisplay(answer_list[$index])" ng-model="answer_list[$index].name" class="form-control"></textarea><br>
                                                                        <textarea ng-hide="true" ng-model="answer_list[$index].answer_display" class="form-control"></textarea>
                                                                        Preview: <span mathjax-bind="answer_list[$index].answer_display"></span>
                                                                    </div>
                                                                    <!-- <div class="btn-group">
                                                                        <div class="btn-group" uib-dropdown>
                                                                            <button ng-disabled="!answer_list[$index].item_no" type="button" class="btn btn-outline btn-primary btn-xs" uib-dropdown-toggle>
                                                                                Insert <span class="caret"></span>
                                                                            </button>
                                                                            <ul role="menu" uib-dropdown-menu="" ng-click="$event.stopPropagation()" style="width: 500px;height: 250px;overflow: auto;">
                                                                                <input type="text" name="search" style="margin: 5px;width: 98%;" ng-model="searchText" class="form-control" placeholder="Search...">
                                                                                <div ng-repeat="symbolPerCategory in catergoryToFilter() | filter:filterCategory">
                                                                                    <label style="margin: 5px;">{$ symbolPerCategory.category $}</label><br>
                                                                                    <button style="margin: 5px;" title="{$symbol.name$}" ng-repeat="symbol in math_symbols | filter:{category:symbolPerCategory.category} | filter:searchText" class="btn btn-primary btn-outline btn-sm" ng-click="insertSymbolList(symbol,answer_list[index],index)">{$ symbol.symbol $}</button>
                                                                                </div>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <textarea ng-model="answer_list[$index].answer" ng-enter="onEnter(answer_list[$index], $index)" ng-change="answerDisplay(answer_list[$index])" class="form-control"></textarea>
                                                                    <textarea ng-hide="true" ng-model="answer_list[$index].answer_display" class="form-control"></textarea><br>
                                                                    Preview: <span mathjax-bind="answer_list[$index].answer_display"></span> -->
                                                                </td>
                                                                <td>
                                                                    <!-- <button class="btn btn-white" ng-click="add_answer(answer_list[$index], $index)" ng-disabled="!answer_list[$index].answer || !answer_list[$index].item_no"><i class="fa fa-plus"></i></button> -->
                                                                    <button class="btn btn-white" ng-click="add_answer(answer_list[$index], $index)"><i class="fa fa-plus"></i></button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <br>
                                                <button class="btn bt-outline btn-danger" ng-click="remove_image(image, record, $index)"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                            <div id="blueimp-gallery" class="blueimp-gallery">
                                                <div class="slides"></div>
                                                <h3 class="title"></h3>
                                                <a class="prev">‹</a>
                                                <a class="next">›</a>
                                                <a class="close">×</a>
                                                <a class="play-pause"></a>
                                                <ol class="indicator"></ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="ibox-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-sm btn-primary btn-w-m" ng-click="create()">Upload</button>
                            <button type="button" class="btn btn-sm btn-danger btn-w-m" ng-click="upload_close_dialog()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
