<div class="panel-body" ng-controller="todosCtrl as main">
    <div class="ibox-content" layout="ibox-content" ng-class="main.page_loader.main ? 'sk-loading' : ''">
        {% include "common/loader.html" %} 
        <div class="row">
            <div class="col-sm-12 pull-right">
                <button class="btn btn-primary pull-right" ng-click="create_dialog()">CREATE</button>
            </div>
            <div class="clearfix"></div>
            <hr>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <th>Name</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="record in records" class="hand_cursor">
                            <td ng-click="load_to_edit(record)">{$ record.name $}</td>
                            <td><button class="btn btn-danger btn-sm" ng-disabled="record.is_default" ng-click="delete(record)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination></pagination>
        </div>
    </div>
</div>
