<div class="wrapper wrapper-content animated fadeIn modalibox">
    <div class="ibox">
        <div class="ibox-title ibox_title_reset">
            <h3>User Type</h3>
        </div>

        <div class="ibox-content" ng-class="main.page_loader.dialog ? 'sk-loading' : ''" ng-style="modal_style">
            {% include "common/loader.html" %} 
            <div class="row">
                <form class="form" name="form">
                    <div class="col-sm-12" ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine }">
                        <label class="required">User Type</label>
                        <input type="text" ng-disabled="record.is_default" ng-model="record.name" name="name" required class="form-control">
                    </div>
                    <div class="col-sm-12" ng-hide="true">
                        <br>
                        <input type="checkbox" id="is_active" name="is_active" ng-model="record.is_active"><label for="is_active">Active</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="ibox-footer">
            <div class="pull-right">
                <button type="button" class="btn btn-sm btn-primary btn-w-m" ng-click="create()" ng-disabled="form.$invalid">Save</button>
                <button type="button" class="btn btn-sm btn-danger btn-w-m" ng-click="close_dialog()">Close</button>
            </div>
        </div>
    </div>
</div>
