{% load staticfiles %}

<div class="modal-body full-div-height">
    <div class="ibox-content no-padding-top">

        <button class="btn pull-right btn-rounded btn-primary" ng-click="ctrl.close_dialog()">Close</button>


        <h3>Search</h3>
        <input type="text" class="form-control" ng-model="filter">

        <br>

        <li class="list-group" ng-repeat="learning_center in ctrl.learning_centers | filter : filter">
            <p>{$ learning_center.name $}</p>

        </li>

    </div>
</div>
<div class="modal-footer">
</div>
