{% extends "base.html" %} {% load static %} {% block ngapp %}ng-app="transaction_types"{% endblock %} {% block ngctrl %}ng-controller="transaction_typesCtrl as main"{% endblock %} {% block title %}Transaction Type {% endblock %} {% block loader_js_bottom %}
<script type="text/javascript" src="{% static 'js/transaction_types.js' %}"></script>
{% endblock loader_js_bottom %} {% block page_header %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><span ng-if="!display_terms[0].transaction_types" ng-cloak="">Transaction Types</span><span ng-if="display_terms[0].transaction_types" ng-cloak="">{$ display_terms[0].transaction_types $}</span></h2>
    </div>
</div>
{% endblock %} 

{% block editable_css %}
    <style type="text/css">
        .hand_cursor {
            cursor: pointer !important;
        }

        .hand_cursor:hover {
            background-color: #E8E8E8 !important;
        }
    </style>
{% endblock %}

{% block content_body %}
<div class="wrapper wrapper-content animated fadeIn" ng-cloak="">
    <div class="ibox">
        <div class="ibox-content" ng-class="main.page_loader.main ? 'sk-loading' : ''">
            {% include "common/loader.html" %} 
            <div class="row">
                <div class="col-sm-3">
                    <!-- <label>Transaction Type</label> -->
                    <input type="text" class="form-control" placeholder="Search..." ng-model="filter.name" name="">
                </div>
                <div class="col-sm-3">
                    <!-- <label>&nbsp;</label><br> -->
                    <button class="btn btn-default" ng-click="read()"><i class="fa fa-search"></i> SEARCH</button><br>
                </div>
                <div class="col-sm-6">
                    <!-- <label>&nbsp;</label><br> -->
                    <div class="btn-group pull-right">
                        <button class="btn btn-primary" ng-click="create_dialog()">CREATE</button>
                        <div class="btn-group pull-right" uib-dropdown>
                            <button type="button" class="btn btn-outline btn-primary" uib-dropdown-toggle>
                                <span class="caret"></span>
                            </button>
                            <ul role="menu" uib-dropdown-menu="" ng-click="$event.stopPropagation()">
                                <li><a href="#"><button ng-click="get_intelex_exercises()" class="btn btn-outline btn-link"><i class="fa fa-upload"></i> Get Intelex Exercises</button></a></li>
                                <li><a href="#"><button ng-click="delete_selected()" ng-disabled="selected == 0" class="btn btn-outline btn-link"><i class="fa fa-trash"></i> Delete Selected</button></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <div class="checkbox checkbox-success">
                                        <input ng-click="selectAll()" type="checkbox" id="select_all" class="checkAll" name="select_all" ng-model="select_all"><label for="select_all">&nbsp;</label>
                                    </div>
                                </th>
                                <th custom-sort order="name">Name</th>
                                <th custom-sort order="transaction_code">Code</th>
                                <th>Set No.</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, record) in records" class="hand_cursor">
                                <td align="center">
                                    <div class="checkbox checkbox-success">
                                        <input ng-click="select()" type="checkbox" id="is_selected_{$key$}" name="is_selected" ng-model="record.is_selected"><label for="is_selected_{$key$}">&nbsp;</label>
                                    </div>
                                </td>
                                <td ng-click="load_to_edit(record)">{$ record.name $}</td>
                                <td ng-click="load_to_edit(record)">{$ record.transaction_code $}</td>
                                <td ng-click="load_to_edit(record)">{$ record.set_no $}</td>
                                <td><button ng-disabled="selected > 0" class="btn btn-danger btn-sm" ng-click="delete(record)">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination></pagination>
            </div>
        </div>
    </div>
</div>
{% endblock %}
