#sudo apt-get install postgresql postgresql-contrib libpq-dev python-dev

#sudo apt-get install libxml2-dev libxslt-dev python-dev
#sudo apt-get install python3-lxml
#sudo apt-get install python3-lxml
Django==1.9
#psycopg2==2.6.2
#psycopg2
django-appconf==1.0.2
djangorestframework==3.3.3
django-cors-headers==2.1.0
django-excel==0.0.10
django-extra-fields==0.9
django-imagekit==4.0.2
lml==0.0.1
lxml==4.1.0
nltk==3.2.5
olefile==0.44
pilkit==2.0
Pillow==4.3.0
pyexcel==0.5.7
pyexcel-io==0.5.6
pyexcel-webio==0.1.4
python-pptx==0.6.7
six==1.11.0
texttable==1.2.1
XlsxWriter==1.0.2
requests