{% load staticfiles %}
<div class="modal-header">
    
    <div class="row">
        <div class="col-sm-5">
            <h3 style="margin:10px">Program <span ng-show="!main.record.id" style="color: #18A689">(New)</span></h3>
        </div>

        <div class="col-sm-7">
            <div class="pull-right">
                <button class="btn btn-sm btn-link" ng-click="main.save_record(main.record)">
                    <i class="fa fa-save dialog-button" class="dialog-button"></i>
                    <span>Save</span>
                </button>

                <button class="btn btn-sm btn-link" ng-click="main.close_dialog()">
                    <i class="fa fa-times-circle dialog-button"></i>
                    <span>Close</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="ibox-content no-padding-top">
    {% include "common/loader.html" %}

        <div class="ibox">

            <div class="ibox-content">

                <div class="row">

                    <div class="col-xs-6">
                        <label>Name</label>
                        <input type="text" class="form-control" ng-model="main.record.name">

                    </div>

                    <div class="col-xs-6">
                        <label for="">Description</label>
                        <input type="text" class="form-control" ng-model="main.record.description">
                    </div>

                </div>

                <br>

                <div class="row">

                    <div class="col-xs-12">

                        <table class="table table-condensed">

                            <thead>
                                <tr>
                                    <th>Question</th>
                                    <th>Option</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr ng-repeat="record in main.program_sessions">
                                    <td>
                                        <ui-select ng-model="record.session">
                                            <ui-select-match>{$ $select.selected.transaction_code $} {$ $select.selected.name $} {$ $select.selected.set_no $}</ui-select-match>
                                            <ui-select-choices repeat="record in main.sessions | filter: $select.search | limitTo:50">
                                                <div ng-bind-html="record.name | highlight: $select.search"></div>
                                                <small ng-bind-html="record.transaction_code | highlight : $select.search "></small> <span ng-bind-html="record.set_no | highlight : $select.search"></span>
                                             </ui-select-choices>
                                        </ui-select>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary btn-circle" ng-click="main.add_session_exercise()"><i class="fa fa-plus"></i></button>
                                        <button class="btn btn-danger btn-circle" ng-click="main.remove_session_exercise(record)"><i class="fa fa-remove"></i></button>
                                    </td>
                                </tr>

                            </tbody>

                        </table>

                    </div>

                </div>


            </div>


        </div>

    </div>
</div>
<div class="modal-footer">
</div>
