{% load staticfiles %}
<!-- JS LOADER -->
<!-- Main Angular scripts-->
<script src="{% static 'js/angular1.7.7/angular.js' %}"></script>
<script src="{% static 'js/angular1.7.7/angular-ui-router.js' %}"></script>

<!-- Jquery  -->
<script src="{% static 'theme/js/jquery/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'theme/js/plugins/jquery-ui/jquery-ui.js' %}"></script>

<script src="{% static 'theme/js/bootstrap/ui-bootstrap-tpls-1.1.2.min.js' %}"></script>
<script src="{% static 'theme/js/plugins/toastr/toastr.min.js' %}"></script>



<!-- App Config and Common JS -->
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/router.js' %}"></script>
<script src="{% static 'js/controller.js' %}"></script>
<script src="{% static 'js/common/services.js' %}"></script>

<!-- App Controllers -->
<script src="{% static 'js/controllers/dashboard_controller.js'  %}"></script>
<script src="{% static 'js/controllers/session_controller.js'  %}"></script>
<script src="{% static 'js/controllers/questionnaire_controller.js'  %}"></script>
