{% load staticfiles %}	
	<div class="ibox-title">

		<div class="row">
			
			<div class="col-sm-5">
    		<h2>Enrollment</h2>
	    	</div>
	        <div class="col-sm-7">
	            <div class="pull-right">

	                <button class="btn btn-sm btn-link" ng-click="save_enrollment(enrollment_data, 'open')">
	                    <i class="fa fa-save dialog-button" class="dialog-button"></i>
	                    <span>Save</span>
	                </button>
	                
	                <button class="btn btn-sm btn-link" ng-click="main.close_dialog(); is_renew = false;">
	                    <i class="fa fa-times-circle dialog-button"></i>
	                    <span>Close</span>
	                </button>
	            </div>
	        </div>
		</div>
    </div>

    <div class="ibox-content gray-bg">

    	<div class="row" style="padding: 0px 10px 0px 10px">
			<form class="form-horizontal" name="form">
				{% csrf_token %}
				<div class="ibox float-e-margins">
					<div class="ibox-title no-border-top">
					    <!-- <h5>Total Payment ({$ ctrl.total_payment | currency $})</h5> -->
					    <div class="ibox-tools">
					        <a class="collapse-link">
					            <i class="fa fa-chevron-up"></i>
					        </a>
					    </div>
					</div>

					<div class="ibox-content no-padding-bottom">

						<div class="row">
							<div class="form-group"> 
								<label class="col-sm-2 control-label">Form No</label>
			                    <div class="col-sm-3">

			                    	<div class="input-group">
			                    		<input type="text" ng-model="enrollment_data.code" class="form-control" ng-init="(!enrollment_data.code && !enrollment_data.id) ? enrollment_data.code = '{{ reference_no }}' : '' ">
			                    		<span class="input-group-btn">
		                                	<a class="btn btn-info btn-rounded" ng-click="main.open_quickview_dialog()"><i class="glyphicon glyphicon-info-sign"></i></a>
		                            	</span>
			                    	</div>
			                    </div>
			                    <label class="col-sm-2 control-label">Time Slot</label>
			                    <div class="col-sm-3">

			                    	<div class="input-group">
										<ui-select ng-model="enrollment_data.timeslot" ng-change="get_excess_time();"> 
										<ui-select-match>
											
											<div class="row">
	                                            <div class="col-xs-12">
	                                                <span>{$ $select.selected.description $}</span> 
	                                                <span ng-repeat="day in $select.selected.days">{$ day $}, </span> 
	                                            </div>
                                        	</div>


										</ui-select-match> 
										<ui-select-choices repeat="student in timeslots | filter: $select.search | limitTo:50"> 
											<div class="row">
	                                            <div class="col-xs-12">
	                                                <p ng-bind-html="student.description | highlight: $select.search"></p>
	                                                <span>Time Start : <b>{$ student.time_start | date :'shortTime' | highlight: $select.search $}</b></span><br>
	                                                <span>Time End :  <b>{$ student.time_end | date :'shortTime' | highlight: $select.search $}</b></span><br>
	                                                <span>Days : {$ student.days $}</span> 
	                                            </div>
                                        	</div>
										</ui-select-choices> 
										</ui-select>
			                    		<span class="input-group-btn">
		                                	<a class="btn btn-info btn-rounded" ng-click="main.open_quickview_dialog()"><i class="glyphicon glyphicon-info-sign"></i></a>
		                            	</span>
			                    	</div>
			                    </div>
		                	</div>
						</div>

						<div class="row"> 
							<div class="form-group "> 
								<label class="col-sm-2 control-label">Student:</label>  
								<div class="col-sm-3"> 
									<div class="input-group"> 
										<ui-select ng-model="enrollment_data.user" ng-change="get_excess_time();"> 
										<ui-select-match>
											
											<div class="row">
	                                            <div class="col-xs-12">
	                                                <img alt="image" class="rounded-circle" style="width:20px; height:20px; margin-left: 5px; margin-right: 5px; border-radius: 50%!important;" src='{% static "inspinia/img/a1.jpg" %}'>
	                                                <span>{$ $select.selected.fullname $}</span> 
	                                            </div>
                                        	</div>


										</ui-select-match> 
										<ui-select-choices repeat="student in students | filter: $select.search | limitTo:50"> 
											<div class="row">
                                            <div class="col-xs-2">
                                                <img alt="image" class="rounded-circle" style="width:38px; height:38px; margin-left: 5px; margin-right: 10px; border-radius: 50%!important;" src='{% static "inspinia/img/a1.jpg" %}'>
                                            </div>
                                            <div class="col-xs-10">
                                                <span ng-bind-html="student.fullname | highlight: $select.search"></span> 
                                                <p ng-bind-html="student.user_type.name | highlight: $select.search"></p>
                                            </div>
                                        </div>
										</ui-select-choices> 
										</ui-select>
										<span class="input-group-btn">
		                                	<a class="btn btn-primary" ng-click="main.open_student_dialog()"><i class="glyphicon glyphicon-plus"></i></a>
		                            	</span>
									</div>
								</div>

								<label class="col-sm-2 control-label">Enrollment Date:</label>  
								<div class="col-sm-3"> 
									<input type="date" name="session credits" ng-model="enrollment_data.enrollment_date" class="form-control"> 
								</div> 
							</div>
						</div>

						<div class="row">

							<div class="form-group">

							<label class="col-sm-2 control-label">Program:</label>  
							<div class="col-sm-3"> 
								<!-- <div class="input-group">  -->
									<ui-select ng-model="enrollment_data.company_rename" ng-change="compute_program_session_credits(enrollment_data.company_rename.hours); get_excess_time();"> 
									<ui-select-match>{$ $select.selected.name $} : {$ $select.selected.rate $}</ui-select-match> 
									<ui-select-choices repeat="program in company2 | filter: $select.search | limitTo:50"> 
										<div ng-bind-html="program.name | highlight: $select.search"></div>
										<small>Rate: {$ program.rate $}</small> 
									</ui-select-choices> 
									</ui-select>

									<br><br>
									<b ng-show="excess_time>0"><p>Remaining Balance: &nbsp;<span class="text-danger">{$ excess_time | secondsDuration $}</span></p></b>
								<!-- </div> -->
							</div>

							<label class="col-sm-2 control-label">Center:</label>  
								<div class="col-sm-3"> 
									<!-- <div class="input-group">  -->
											<ui-select ng-model="enrollment_data.school"> 
											<ui-select-match>{$ $select.selected.name $}</ui-select-match> 
											<ui-select-choices repeat="school in schools | filter: $select.search | limitTo:50"> 
												<div ng-bind-html="school.name | highlight: $select.search"></div> 
											</ui-select-choices> 
											</ui-select> 
											
										<!-- </div>  -->
								</div>   
							</div>
						</div>

						<div class="row">
							<div class="form-group"> 
								<label class="col-sm-2 control-label">Session Credits:</label>  
								<div class="col-sm-2"> 
									<label class="col-sm-2 control-label">Hours</label>  
									<input type="number" name="session credits" ng-model="enrollment_data.session_credits.hours" class="form-control"> 
								</div>
								<form class="form-horizontal" name="form">
									<div class="col-sm-2"> 
										<label class="col-sm-2 control-label">Minutes</label>  
										<input name="minutes" type="number" name="session credits" ng-model="enrollment_data.session_credits.minutes" 
											class="form-control" max="59"> 
										<div class="m-t-xs" ng-show="form.minutes.$invalid && form.minutes.$dirty">
											<small class="text-danger">Max minutes is 59</small>
										</div>
									</div>
								</form>
							</div>
						</div>

						<div class="row"> 
							<div class="form-group"> 
								<label class="col-sm-2 control-label">Session Start Date:</label>  
								<div class="col-sm-3"> 
									<input type="date" name="session credits" ng-change="change_start_date(enrollment_data,'date_from')" ng-model="enrollment_data.session_start_date" class="form-control"> 
								</div> 
								
								<label class="col-sm-2 control-label">Session End Date:</label>  
								<div class="col-sm-3"> 
									<input type="date" name="session credits" ng-change="change_start_date(enrollment_data,'date_to')" ng-model="enrollment_data.session_end_date" class="form-control"> 
								</div> 
							</div> 
						</div> 
					</div>
			</form>
	</div>

	<div class="ibox">
        <div class="ibox-title">
            <h5>Total Payment ({$ total_payment $})</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        
        <div class="ibox-content">
            <div class="feed-activity-list">

                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Reference</th>
                            <th>Date</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="feed-element clickable" ng-repeat="record in enrollment_data.payments" ng-click="open_payment_create_dialog(record)" >
                            <td>
                        		<input class="form-control text-center has-error" type="text" ng-model="record.official_receipt_no" ng-disabled="!enrollment_data.company_rename">
                            </td>
                            <td class="text-center">
                            	<input class="form-control text-center" type="date" ng-model="record.payment_date">
                            	
                            </td>
                            <td class="text-right">
                            	<input min="0" class="form-control text-center" ng-blur="compute_session_credits()" type="number" ng-model="record.amount_paid" ng-disabled="!enrollment_data.company_rename && record.official_receipt_no == null">
                            </td>
                            <td>
                            	<button type="button" class="btn btn-sm btn-success" ng-click="delete_payment(record)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a ng-click="add_payment()" style="text-decoration:underline">Add New Payment</p>
            </div>
        </div>
    </div>
    	
    	


    
