{% load staticfiles %}	
	<div class="ibox-title">

        <div class="col-sm-9">
            <h2>QuickView of Existing Enrollments</h2>
        </div>

        <div class="col-sm-3">
            <div class="pull-right">
                
                <button class="btn btn-sm btn-link" ng-click="main.close_dialog(me.dialog, true); is_renew = false;">
                    <i class="fa fa-times-circle dialog-button"></i>
                    <span>Close</span>
                </button>
            </div>
        </div>
    </div>

    <div class="ibox-content gray-bg">

    	<table class="table table-condensed">
    		
    		<thead>
    			
    			<tr>
    				<th>Code</th>
    				<th>Student</th>
                    <th>Start Date</th>
                    <th>End Date</th>
    				<th>Created On</th>
    			</tr>

    		</thead>

    		<tbody>
    			
    			<tr ng-repeat="record in main.records">
    				<td>{$ record.code $}</td>
    				<td>{$ record.user.fullname $}</td>
                    <td>{$ record.session_start_date | date $}</td>
                    <td>{$ record.session_end_date | date $}</td>
    				<td>{$ record.enrollment_date | date  $}</td>
    			</tr>

    		</tbody>

    	</table>


	</div>

    	
    	


    
