{% load staticfiles %}
<div class="modal-header">
    
    <div class="row">
        <div class="col-sm-5">
            <h3 style="margin:10px">Exercise <span ng-show="!main.record.id" style="color: #18A689">(New)</span></h3>
        </div>

        <div class="col-sm-7">
            <div class="pull-right">
                <button class="btn btn-sm btn-link" ng-click="main.save_record(main.record)">
                    <i class="fa fa-save dialog-button" class="dialog-button"></i>
                    <span>Save</span>
                </button>

                <button class="btn btn-sm btn-link" ng-click="main.close_dialog()">
                    <i class="fa fa-times-circle dialog-button"></i>
                    <span>Close</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="ibox-content no-padding-top">
    {% include "common/loader.html" %}

        <div class="ibox">

            <div class="ibox-content">

                <div class="row">

                    <div class="col-xs-6">
                        <label>Exercise Name</label>
                        <ui-select ng-model="main.record.exercise" ng-change="main.read_exercise_questions(main.record.exercise)">
                            <ui-select-match>{$ $select.selected.name $}</ui-select-match>
                            <ui-select-choices repeat="company in main.exercises | filter: $select.search | limitTo:50">
                                <div ng-bind-html="company.name | highlight: $select.search"></div>
                                <small>{$ company.transaction_code | json $}</small>

                            </ui-select-choices>
                        </ui-select>

                    </div>

                    <div class="col-xs-6">
                        <label for="">Exercise Code</label>
                        <input type="text" class="form-control" ng-model="main.record.exercise.transaction_code">
                    </div>

                </div>

                <br>

                <div class="row">

                    <div class="col-xs-6">
                        <label for="">Set No</label>
                        <input type="text" class="form-control" ng-model="main.record.exercise.set_no">
                    </div>

                </div>

                <br>

                <div class="row">

                    <div class="col-xs-12">

                        <table class="table table-condensed">

                            <thead>
                                <tr>
                                    <th>Question</th>
                                    <th>Option</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr ng-repeat="record in main.exercise_questions">
                                    <td>
                                        <ui-select ng-model="record.question">
                                            <ui-select-match>{$ $select.selected.name | limitTo: 50 $}</ui-select-match>
                                            <ui-select-choices repeat="company in main.questions | filter: $select.search | limitTo:50">
                                            <div ng-bind-html="company.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                        </ui-select>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary btn-circle" ng-click="main.add_exercise_question()"><i class="fa fa-plus"></i></button>
                                        <button class="btn btn-danger btn-circle" ng-click="main.remove_session_exercise(record)"><i class="fa fa-remove"></i></button>
                                    </td>
                                </tr>

                            </tbody>

                        </table>

                    </div>

                </div>


            </div>


        </div>

    </div>
</div>
<div class="modal-footer">
</div>
