{% extends "base.html" %} {% load static %} {% block ngapp %}ng-app="related_questions"{% endblock %} {% block ngctrl %}ng-controller="relatedquestionsCtrl as main"{% endblock %} {% block title %}Related Questions {% endblock %} {% block loader_js_bottom %}
<script type="text/javascript" src="{% static 'js/related_questions.js' %}?ver=1"></script>
{% endblock loader_js_bottom %} {% block page_header %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Related Questions</h2>
    </div>
</div>
{% endblock %} 

{% block editable_css %}
    <style type="text/css">
        .hand_cursor {
            cursor: pointer !important;
        }

        .hand_cursor:hover {
            background-color: #E8E8E8 !important;
        }
    </style>
{% endblock %}

{% block content_body %}
<div class="wrapper wrapper-content animated fadeIn" ng-cloak="">
    <div class="ibox">
        <div class="ibox-content" ng-class="main.page_loader.main ? 'sk-loading' : ''">
            {% include "common/loader.html" %} 
            <div class="row">
                <!-- <div class="col-sm-3">
                    <label>Transaction Type</label>
                    <ui-select ng-model="filter.transaction_type">
                        <ui-select-match placeholder="Select...">{$ $select.selected.name $}</ui-select-match>
                        <ui-select-choices repeat="transaction_type in transaction_types | filter: $select.search | limitTo:50">
                            <div ng-bind-html="transaction_type.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-sm-3">
                    <label>&nbsp;</label>
                    <input type="text" class="form-control" ng-model="filter.code" placeholder="Search..." name="">
                </div>
                <div class="col-sm-3">
                    <label>&nbsp;</label><br>
                    <button class="btn btn-default" ng-click="read()"><i class="fa fa-search"></i> SEARCH</button><br>
                </div> -->
                <div class="col-sm-3 pull-right">
                    <!-- <label>&nbsp;</label><br> -->
                    <button class="btn btn-primary pull-right" ng-click="create_dialog()">CREATE</button><br>
                </div>
                <div class="clearfix"></div>
                <hr>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <!-- <th custom-sort order="code">Code</th> -->
                            <th>Related Questions</th>
                            <!-- <th>Transaction Type</th> -->
                            <!-- <th>Multiple Choice</th> -->
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="record in records" class="hand_cursor">
                                <!-- <td ng-click="load_to_edit(record)">{$ record.code $} <span ng-if="record.parent_question"><i class="fa fa-child"></i></span></td> -->
                                <td ng-click="load_to_edit(record)">
                                    <ul>
                                        <li ng-repeat="related_questions in record.related_questions">
                                            {$ related_questions.code_value $}
                                        </li>
                                    </ul>
                                </td>
                                <!-- <td ng-click="load_to_edit(record)">
                                    <span ng-if="record.transaction_types.length == 0">{$ record.transaction_type.name $}</span>
                                    <span ng-if="record.transaction_types">
                                        <ul>
                                            <li ng-repeat="type in record.transaction_types">
                                                {$ type.name $}
                                            </li>
                                        </ul>
                                    </span>
                                </td>
                                <td align="center" ng-click="load_to_edit(record)">
                                    <span ng-show="record.is_multiple">Yes</span>
                                    <span ng-show="!record.is_multiple">No</span>
                                </td> -->
                                <td><button class="btn btn-danger btn-sm" ng-click="delete(record)">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination></pagination>
            </div>
        </div>
    </div>
</div>
{% endblock %}
