{% load staticfiles %}
<div class="">

    <div class="row">

        <div class="col-lg-2">

            <div class="ibox">
                <div class="ibox-title">
                    Exercises
                </div>
                <div class="ibox-content">

                    <table class="table table-hover table-mail">
                        <tbody>

                            <tr class="read">
                                <td class="mail-subject"><a href="mail_detail.html">Many desktop publishing packages and web page editors.</a></td>
                            </tr>

                        </tbody>
                    </table>



                </div>
            </div>

        </div>

        <div class="col-lg-6">


            <div class="ibox">

                <div class="ibox-title">
                    <h3>Exercise A</h3>
                </div>

                <div class="ibox-content">

                    <div class="feed-activity-list">

                        <div class="feed-element">
                            <div class="media-body ">
                                <strong>1. Which of the folliwng</strong>
                                <small class="float-right">30 Points</small>

                                <br>

                                <form action="">
                                  <input type="radio" name="gender" value="male"> Male<br>
                                  <input type="radio" name="gender" value="female"> Female<br>
                                  <input type="radio" name="gender" value="other"> Other
                                </form>

                            </div>
                        </div>

                        <div class="feed-element">
                            <div class="media-body ">
                                <strong>1. Which of the folliwng</strong>
                                <small class="float-right">30 Points</small>

                                <br>

                                <form action="">
                                  <input type="radio" name="gender" value="male"> Male<br>
                                  <input type="radio" name="gender" value="female"> Female<br>
                                  <input type="radio" name="gender" value="other"> Other
                                </form>

                            </div>
                        </div>

                        <div class="feed-element">
                            <div class="media-body ">
                                <strong>1. Which of the folliwng</strong>
                                <small class="float-right">30 Points</small>

                                <br>

                                <form action="">
                                  <input type="radio" name="gender" value="male"> Male<br>
                                  <input type="radio" name="gender" value="female"> Female<br>
                                  <input type="radio" name="gender" value="other"> Other
                                </form>

                            </div>
                        </div>

                        <div class="feed-element">
                            <div class="media-body ">
                                <strong>1. Which of the folliwng</strong>
                                <small class="float-right">30 Points</small>

                                <br>

                                <form action="">
                                  <input type="radio" name="gender" value="male"> Male<br>
                                  <input type="radio" name="gender" value="female"> Female<br>
                                  <input type="radio" name="gender" value="other"> Other
                                </form>

                            </div>
                        </div>

                        <div class="feed-element">
                            <div class="media-body ">
                                <strong>1. Which of the folliwng</strong>
                                <small class="float-right">30 Points</small>

                                <br>

                                <form action="">
                                  <input type="radio" name="gender" value="male"> Male<br>
                                  <input type="radio" name="gender" value="female"> Female<br>
                                  <input type="radio" name="gender" value="other"> Other
                                </form>

                            </div>
                        </div>


                    </div>

                </div>

            </div>

        </div>

        <div class="col-lg-3">

            <div class="ibox">
                <div class="ibox-title">
                    Need Help?
                </div>
                <div class="ibox-content">

                    <h5>Learn more about the topic</h5>
                    <figure>
                        <iframe src="http://www.youtube.com/embed/D4VNfXp7rmc" frameborder="0" allowfullscreen="" data-aspectratio="0.8211764705882353" style="width: 350px; height: 150px;"></iframe>
                    </figure>

                </div>
            </div>

        </div>

    </div>


</div>