{% load staticfiles%}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <div class="container_profile" style="background: url('{% static 'inspinia/img/gallery/assessment.jpg'%}') no-repeat center center;height:175px;background-size: contain;-webkit-background-size: contain;
  -moz-background-size: cover;
  -o-background-size: cover; width: 220px;margin-left: -25px;">
                        <!-- <img style="width: 250px;margin-left: -40px;" src="{% static "inspinia/img/gallery/7.jpg"%}" style="display:none;" alt="YBAS"> -->
                    </div>
                    <!-- <a href="/">Yahshua Business Assessment System</a> -->
                </div>
                <div class="logo-element">
                    {% if request.user.user_type.name == 'Technical' %}
                        <a href="/">YIAS</a>
                    {% else %}
                        <span>YIAS</span>
                    {% endif %}
                </div>
            </li>
            <li>
                <a href="/lesson_updates/load_page/">
                    <i class="fa fa-file-text"></i>
                    <span class="nav-label">Lesson Updates</span>
                </a>
            </li>
            {% if request.user.user_type.name == 'Technical' %}
            <li>
                <a href="/assessments"><i class="fa fa-question"></i> <span class="nav-label" ng-if="!display_terms[0].questions" ng-cloak="">Questions</span><span class="nav-label" ng-if="display_terms[0].questions" ng-cloak="">{$ display_terms[0].questions $}</span></a>
            </li>
            <li>
                <a href="/related_questions"><i class="fa fa-link"></i> <span class="nav-label">Related Questions</span></a>
            </li>
            {% endif %}
            <li>
                <a href="/recommendations"><i class="fa fa-smile-o"></i> <span class="nav-label">Recommendations</span></a>
            </li>
            <li>
                <a href="/company_assessment"><i class="fa fa-check-square"></i> <span class="nav-label" ng-if="!display_terms[0].company_assessments" ng-cloak="">Company Assessment</span><span class="nav-label" ng-if="display_terms[0].company_assessments" ng-cloak="">{$ display_terms[0].company_assessments $}</span></a>
            </li>
            {% if request.user.user_type.name == 'Technical' %}
            <li>
                <a href="/transaction_types"><i class="fa fa-exchange"></i> <span class="nav-label" ng-if="!display_terms[0].transaction_types" ng-cloak="">Transaction Types</span><span class="nav-label" ng-if="display_terms[0].transaction_types" ng-cloak="">{$ display_terms[0].transaction_types $}</span></a>
            </li>
            <li>
                <a href="/company"><i class="fa fa-building"></i> <span class="nav-label" ng-if="!display_terms[0].company_rename" ng-cloak="">Company</span><span class="nav-label" ng-if="display_terms[0].company_rename" ng-cloak="">{$ display_terms[0].company_rename $}</span></a>
            </li>
            <li>
                <a href="/import"><i class="fa fa-upload"></i> <span class="nav-label">Import</span></a>
            </li>
            {% endif %}
            <li>
                <a href="/users"><i class="fa fa-users"></i> <span class="nav-label">Users</span></a>
            </li>
            <li>
                <a href="/user_logs/"><i class="fa fa-users"></i> <span class="nav-label">User Logs</span></a>
            </li>
            {% if request.user.user_type.name == 'Technical' %}
            <li>
                <a href="/settings"><i class="fa fa-cogs"></i> <span class="nav-label">Settings</span></a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
