{% load staticfiles%}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a href="/">Yahshua Business Assessment System</a>
                </div>
                <div class="logo-element">
                    <a href="/">YBAS</a>
                </div>
            </li>
            
            <li>
                <a href="/assessments"><i class="fa fa-question"></i> <span class="nav-label">Questions</span></a>
            </li>
            <li>
                <a href="/recommendations"><i class="fa fa-smile-o"></i> <span class="nav-label">Recommendations</span></a>
            </li>
            <li>
                <a href="/company_assessment"><i class="fa fa-check-square"></i> <span class="nav-label">Company Assessment</span></a>
            </li>
            <li>
                <a href="/transaction_types"><i class="fa fa-exchange"></i> <span class="nav-label">Transaction Types</span></a>
            </li>
            <li>
                <a href="/company"><i class="fa fa-building"></i> <span class="nav-label">Company</span></a>
            </li>
            <li>
                <a href="/import"><i class="fa fa-upload"></i> <span class="nav-label">Import</span></a>
            </li>
            <li>
                <a href="/users"><i class="fa fa-users"></i> <span class="nav-label">Users</span></a>
            </li>
        </ul>
    </div>
</nav>
