{% load staticfiles %}
<div class="container-fluid" >

    <h2 class="text-center">Kumon</h2>
    <br>

    <div class="row" >


        <div class="col-lg-1"></div>

        <div class="col-lg-3">

            <div class="ibox">
                    <div class="ibox-title" style="background-image: url({% static 'web_student/img/dev.jpg' %}); background-repeat: no-repeat; background-position: right">
                        <h2 style="color : whitesmoke">Science</h2>
                    </div>
                    <div class="ibox-content">

                        <ul>
                            <li>Velocity and Acceleration</li>
                            <li>Gravity of the Moon</li>
                            <li>Thermonuclear Astrophysics</li>
                            <li>Gamma Ray Study</li>
                            <li>Ping Pong</li>
                        </ul>

                        <button class="btn btn-block btn-warning">Enroll Program</button>

                    </div>
            </div>



        </div>

        <div class="col-lg-3">

            <div class="ibox">
                    <div class="ibox-title" style="background-image: url({% static 'web_student/img/ops.jpg' %}); background-repeat: no-repeat; background-position: right">
                        <h2 style="color : whitesmoke">Math</h2>
                    </div>
                    <div class="ibox-content">

                        <ul>
                            <li>College Algebra</li>
                            <li>High School Algebra</li>
                            <li>Elementary Algebra</li>
                            <li>Kinder Algebra</li>
                            <li>Nursery Algebra</li>
                        </ul>

                        <button class="btn btn-block btn-warning">Enroll Program</button>

                    </div>
            </div>

        </div>

        <div class="col-lg-3">

            <div class="ibox">
                    <div class="ibox-title" style="background-image: url({% static 'web_student/img/security.jpg' %});  background-repeat: no-repeat; background-position: right">
                        <h2 style="color : whitesmoke">English</h2>
                    </div>
                    <div class="ibox-content">

                        <ul>
                            <li>Verbs</li>
                            <li>Subject Verb Agreement</li>
                            <li>Subject Verb Disagreement</li>
                            <li>Adjective</li>
                            <li>Objective</li>
                        </ul>

                        <button class="btn btn-block btn-warning">Enroll Program</button>

                    </div>
            </div>

        </div>

        <div class="col-lg-1"></div>

    </div>

    <div class="row">

        <div class="col-lg-1"></div>

        <div class="col-lg-3">
            <h3>Courses Offered</h3>

            <ul>
                <li>Anatomy & Physiology Course</li>
                <li>General Chemistry Course</li>
                <li>Basic Algebra Course</li>
            </ul>


        </div>




    </div>

    <div class="row">

        <div class="col-lg-1">

            <br>


        </div>

        <div class="col-lg-3">

            <h3>What you will learn</h3>

            <br>

            <ul>
                <li>Physics</li>
                <li>Vector Fundamentals</li>
                <li>Algebra Expressions</li>
                <li>Factoring</li>
                <li>Subject Verb Agreement</li>
                <li>Writing Essays</li>
            </ul>

        </div>

    </div>





</div>