{% load staticfiles %}
<!-- JS LOADER -->
<!-- Main Angular scripts-->
<script src="{% static 'web_student/js/angular1.7.7/angular.js' %}"></script>
<script src="{% static 'web_student/js/angular1.7.7/angular-ui-router.js' %}"></script>

<!-- Jquery  -->
<script src="{% static 'web_student/theme/js/jquery/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'web_student/theme/js/plugins/jquery-ui/jquery-ui.js' %}"></script>

<script src="{% static 'web_student/theme/js/bootstrap/ui-bootstrap-tpls-1.1.2.min.js' %}"></script>
<script src="{% static 'web_student/theme/js/plugins/toastr/toastr.min.js' %}"></script>
<script src="{% static 'web_student/theme/js/plugins/ui-select/select.min.js' %}"></script>

<!-- Plugin JS -->
<script src="{% static 'web_student/plugins/angular-ui-carousel/dist/ui-carousel.js' %}"></script>
<script src="{% static 'web_student/plugins/angular-ui-carousel/dist/ui-carousel.min.js' %}"></script>

<script src="{% static 'inspinia/js/plugins/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'inspinia/js/plugins/sweetalert/angular-sweetalert.min.js' %}"></script>

<!-- App Config and Common JS -->
<script src="{% static 'web_student/js/app.js' %}"></script>
<script src="{% static 'web_student/js/router.js' %}"></script>
<script src="{% static 'web_student/js/common/controller.js' %}"></script>
<script src="{% static 'web_student/js/common/ipconfig.js' %}"></script>
<script src="{% static 'web_student/js/common/services.js' %}"></script>

<!-- App Controllers -->
<script src="{% static 'web_student/js/controllers/dashboard_controller.js'  %}"></script>
<script src="{% static 'web_student/js/controllers/session_controller.js'  %}"></script>
<script src="{% static 'web_student/js/controllers/questionnaire_controller.js'  %}"></script>
<script src="{% static 'web_student/js/controllers/learning_center_controller.js'  %}"></script>
