{% load staticfiles %}
<div class="modal-header">
    
    <div class="row">
        <div class="col-sm-5">
            <h3 style="margin:10px">Questions</h3>
        </div>

        <div class="col-sm-7">
            <div class="pull-right">
                <button class="btn btn-sm btn-link" ng-click="main.save_record(main.record)">
                    <i class="fa fa-save dialog-button" class="dialog-button"></i>
                    <span>Save</span>
                </button>

                <button class="btn btn-sm btn-link" ng-click="main.close_dialog()">
                    <i class="fa fa-times-circle dialog-button"></i>
                    <span>Close</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div cclass="modal-body">
    <div class="ibox-content no-padding-top gray-bg" ng-class="main.page_loader.dialog ? 'sk-loading' : ''" ng-style="modal_style">

        {% include "common/loader.html" %}
        <form class="form-horizontal" name="form">
            
            <div class="row">
                <div class="col-xs-6">
                    <label for="">Question</label>
                    <input type="text" class="form-control" ng-model="main.record.name">
                </div>
                <div class="col-xs-6">
                    <label for="">Question Type</label>
                    <ui-select ng-model="main.session.program" required ng-change="main.check_for_existing_session()">
                        <ui-select-match>{$ $select.selected.name $}</ui-select-match>
                       <ui-select-choices repeat="company in main.question_types | filter: $select.search | limitTo:50">
                        <div ng-bind-html="company.name | highlight: $select.search"></div>
                    </ui-select-choices>
                    </ui-select>

                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <br>
                    <p>Choices</p>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Choice</th>
                                <th>Is Correct Choice</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="choice in main.question_choices">
                                <td><input type="text" class="form-control" ng-model="choice.name"></td>
                                <td><center><input type="checkbox" ng-model="choice.is_correct"></center></td>
                            </tr>
                        </tbody>

                    </table>

                    <br>

                    <a ng-click="main.add_question_choices(main.choice)">Add Option</a>

                </div>
            </div>
            
            
        </form>

    </div>
</div>
<div class="modal-footer">

    <p>Questions</p>

</div>
