{% extends "base.html" %} {% load static %} {% block ngapp %}ng-app="recommendations"{% endblock %} {% block ngctrl %}ng-controller="recommendationsCtrl as main"{% endblock %} {% block title %}Recommendations {% endblock %} {% block loader_js_bottom %}
<script type="text/javascript" src="{% static 'js/recommendations.js' %}"></script>
{% endblock loader_js_bottom %} {% block page_header %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Recommendations</h2>
    </div>
</div>
{% endblock %} 

{% block editable_css %}
    <style type="text/css">
        .hand_cursor {
            cursor: pointer !important;
        }

        .hand_cursor:hover {
            background-color: #E8E8E8 !important;
        }
    </style>
{% endblock %}

{% block content_body %}
<div class="wrapper wrapper-content animated fadeIn" ng-cloak="">
    <div class="ibox">
        <div class="ibox-content" ng-class="main.page_loader.main ? 'sk-loading' : ''">
            {% include "common/loader.html" %} 
            <div class="row">
                <div class="col-sm-3">
                    <!-- <label>Transaction Type</label> -->
                    <input type="text" class="form-control" placeholder="Search..." ng-model="filter.value" name="">
                </div>
                <div class="col-sm-3">
                    <!-- <label>&nbsp;</label><br> -->
                    <button class="btn btn-default" ng-click="read()"><i class="fa fa-search"></i> SEARCH</button><br>
                </div>
                <div class="col-sm-6 pull-right">
                    <button class="btn btn-primary pull-right" ng-click="create_dialog()">CREATE</button>
                </div>
                <div class="clearfix"></div>
                <hr>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <th custom-sort order="value">Recommendation</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="record in records" class="hand_cursor">
                                <td ng-click="load_to_edit(record)">{$ record.value $}</td>
                                <td><button class="btn btn-danger btn-sm" ng-click="delete(record)">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination></pagination>
            </div>
        </div>
    </div>
</div>
{% endblock %}
