<div class="wrapper wrapper-content animated fadeIn modalibox">
    <div class="ibox">
        <div class="ibox-title ibox_title_reset">
            <h3><span ng-if="!display_terms[0].questions" ng-cloak="">Question</span><span ng-if="display_terms[0].questions" ng-cloak="">{$ display_terms[0].questions $}</span></h3>
        </div>

        <div class="ibox-content" ng-class="main.page_loader.dialog ? 'sk-loading' : ''" ng-style="modal_style">
            <div class="row">
                <form class="form" name="form">
                    <div class="col-sm-12">
                        <div class="checkbox checkbox-success">
                            <input type="checkbox" id="is_general" name="is_general" ng-model="record.is_general" ng-click="record.code=null;record.transaction_types={};record.transaction_type={}" ng-disabled="record.id"><label for="is_general">General <span ng-if="!display_terms[0].questions" ng-cloak="">Question</span><span ng-if="display_terms[0].questions" ng-cloak="">{$ display_terms[0].questions $}</span></label>
                        </div>
                    </div>
                    <div class="col-sm-12" ng-if="record.is_general">
                        <label><span ng-if="!display_terms[0].transaction_types" ng-cloak="">Transaction Types</span><span ng-if="display_terms[0].transaction_types" ng-cloak="">{$ display_terms[0].transaction_types $}</span></label> <span ng-if="!transaction_types[0]"><i class="fa fa-spinner fa-pulse"></i></span>
                        <ui-select ng-model="record.transaction_types" multiple ng-change="generate_code()">
                            <ui-select-match placeholder="{$ transaction_types[0] ? 'Select...' : 'Please wait...' $}">{$ $item.name $} - Set {$ $item.set_no $}</ui-select-match>
                            <ui-select-choices repeat="transaction_type in transaction_types2 | filter: $select.search | limitTo:50">
                                <!-- <div ng-bind-html="transaction_type.name | highlight: $select.search"></div> -->
                                <span ng-bind-html="transaction_type.name | highlight: $select.search"></span> - Set <span ng-bind-html="transaction_type.set_no | highlight: $select.search"></span> - <span ng-bind-html="transaction_type.transaction_code"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-sm-12" ng-if="!record.is_general">
                        <label><span ng-if="!display_terms[0].transaction_types" ng-cloak="">Transaction Type</span><span ng-if="display_terms[0].transaction_types" ng-cloak="">{$ display_terms[0].transaction_types $}</span></label> <span ng-if="!transaction_types[0]"><i class="fa fa-spinner fa-pulse"></i></span>
                        <ui-select ng-model="record.transaction_type" ng-change="generate_code()">
                            <ui-select-match placeholder="{$ transaction_types[0] ? 'Select...' : 'Please wait...' $}">{$ $select.selected.name $} - Set {$ $select.selected.set_no $}</ui-select-match>
                            <ui-select-choices repeat="transaction_type in transaction_types2 | filter: $select.search | limitTo:50">
                                <!-- <div ng-bind-html="transaction_type.name | highlight: $select.search"></div> -->
                                <span ng-bind-html="transaction_type.name | highlight: $select.search"></span> - Set <span ng-bind-html="transaction_type.set_no | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div ng-show="record.transaction_types || record.transaction_type">
                        <div class="col-sm-12" ng-class="{ 'has-error' : form.code.$invalid && !form.code.$pristine }">
                            <label class="required">Code</label>
                            <input type="text" name="code" ng-model="record.code" required class="form-control" disabled>
                        </div>
                        <div class="clearfix"></div>
                        <hr>
                        <div class="col-sm-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Related <span ng-if="!display_terms[0].questions" ng-cloak="">Question</span><span ng-if="display_terms[0].questions" ng-cloak="">{$ display_terms[0].questions $}</span>
                                </div>
                                <div class="panel-body">
                                    <p ng-if="record.parent_question">{$ record.parent_question.code $}: {$ record.parent_question.value $}
                                        <div class="pull-right" ng-if="record.parent_question">
                                            <a class="btn-sm btn-white" ng-click="edit_parent_question()">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a class="btn-sm btn-white" ng-click="remove_parent_question()">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </p>
                                    <p  ng-if="!record.parent_question">
                                        <a class="btn-sm btn-white pull-right" ng-click="edit_parent_question()">
                                            <i class="fa fa-plus-square"></i>
                                        </a>
                                    </p>
                                    <div ng-if="edit_is_related">
                                        <div class="form-group">
                                            <label>Question</label>
                                            <ui-select ng-model="record.parent_question"  ng-model-options="{ trackBy: '$value.id' }">
                                                <ui-select-match placeholder="Select...">{$ $select.selected.code_value $}</ui-select-match>
                                                <ui-select-choices repeat="question in questions | filter: $select.search | limitTo:50">
                                                    <div ng-bind-html="question.code_value | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" ng-class="{ 'has-error' : form.value.$invalid && !form.value.$pristine }">
                            <label class="required"><span ng-if="!display_terms[0].questions" ng-cloak="">Question</span><span ng-if="display_terms[0].questions" ng-cloak="">{$ display_terms[0].questions $}</span></label>
                            <textarea ng-model="record.value" name="value" required class="form-control"></textarea>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12" ng-hide="true">
                            <br>
                            <div class="checkbox checkbox-success">
                                <input type="checkbox" id="is_active" name="is_active" ng-model="record.is_active"><label for="is_active">Active</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <br>
                            <div class="checkbox checkbox-success">
                                <input type="checkbox" id="is_document" name="is_document" ng-model="record.is_document" ng-click="isMultiple()"><label for="is_document">Needs document image</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="checkbox checkbox-success">
                                <input type="checkbox" id="is_multiple" name="is_multiple" ng-model="record.is_multiple" ng-click="isMultiple()"><label for="is_multiple">Multiple Choice</label>
                            </div>
                            <div ng-if="!record.is_multiple" class="col-md-6">
                                <div><label>Answer Type</label></div>
                                <div class="radio radio-primary">
                                    <input type="radio" ng-model="record.answer_type" ng-value="'Text'" name="Text" id="Text"> <label for="Text">Text</label><br>
                                    <input type="radio" ng-model="record.answer_type" ng-value="'Number'" name="Number" id="Number"> <label for="Number">Number</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <table class="table">
                                <thead>
                                    <th>Correct Answer</th>
                                    <th>Answer</th>
                                    <th>Is Follow up Required</th>
                                    <th ng-if="record.is_document">Required Document Image</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key, choice) in choices">
                                        <td align="center">
                                            <div class="checkbox checkbox-success">
                                                <input type="checkbox" id="is_answer_{$key$}" name="is_answer_{$key$}" ng-model="choice.is_answer"><label for="is_answer_{$key$}">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td>
                                            <input ng-model="choice.value" name="value" type="text" class="form-control">
                                        </td>
                                        <td align="center">
                                            <div class="checkbox checkbox-success">
                                                <input type="checkbox" id="follow_up_required_{$key$}" name="follow_up_required_{$key$}" ng-model="choice.follow_up_required"><label for="follow_up_required_{$key$}">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td align="center" ng-if="record.is_document">
                                            <div class="checkbox checkbox-success">
                                                <input type="checkbox" id="required_document_image{$key$}" name="required_document_image{$key$}" ng-model="choice.required_document_image"><label for="required_document_image{$key$}">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="" class="btn bt-outline btn-danger" ng-click="remove_choice(choice, $index)"><i class="fa fa-trash-o"></i></a> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <div class="checkbox checkbox-success">
                                                <input type="checkbox" name="is_answer" ng-model="choice_list.is_answer"><label>&nbsp;</label>
                                            </div>
                                        </td>
                                        <td>
                                            <input ng-model="choice_list.value" name="value" type="text" class="form-control">
                                        </td>
                                        <td align="center">
                                            <div class="checkbox checkbox-success">
                                                <input type="checkbox" name="follow_up_required" ng-model="choice_list.follow_up_required"><label>&nbsp;</label>
                                            </div>
                                        </td>
                                        <td align="center" ng-if="record.is_document">
                                            <div class="checkbox checkbox-success">
                                                <input type="checkbox" name="required_document_image" ng-model="choice_list.required_document_image"><label>&nbsp;</label>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn btn-white" ng-click="add_choice(choice_list)" ng-disabled="!choice_list.value"><i class="fa fa-plus"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12">
                            <br>
                            <div class="tabs-container">
                                <uib-tabset>
                                    <uib-tab heading="Finding">
                                        <br>
                                        <table class="table">
                                            <tr ng-repeat="(key, finding) in findings">
                                                <td>
                                                    <textarea ng-model="finding.value" class="form-control"></textarea>
                                                </td>
                                                <td>
                                                    <a href="" class="btn bt-outline btn-danger" ng-click="remove_finding(finding, $index)"><i class="fa fa-trash-o"></i></a> 
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <textarea ng-model="finding_list.value" class="form-control"></textarea>
                                                </td>
                                                <td>
                                                    <button class="btn btn-white" ng-click="add_finding(finding_list)" ng-disabled="!finding_list.value"><i class="fa fa-plus"></i></button>
                                                </td>
                                            </tr>
                                        </table>
                                    </uib-tab>
                                    <uib-tab heading="Effect">
                                        <br>
                                        <table class="table">
                                            <tbody>
                                                <tr ng-repeat="(key, effect) in effects">
                                                    <td>
                                                        <textarea ng-model="effect.value" class="form-control"></textarea>
                                                    </td>
                                                    <td>
                                                        <a href="" class="btn bt-outline btn-danger" ng-click="remove_effect(effect, $index)"><i class="fa fa-trash-o"></i></a> 
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <textarea ng-model="effect_list.value" class="form-control"></textarea>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-white" ng-click="add_effect(effect_list)" ng-disabled="!effect.value"><i class="fa fa-plus"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="ibox-footer">
            <div class="pull-right">
                <button type="button" class="btn btn-sm btn-primary btn-w-m" ng-click="create(true)" ng-disabled="form.$invalid">Save</button>
                <button type="button" class="btn btn-sm btn-danger btn-w-m" ng-click="main.close_dialog()">Close</button>
            </div>
        </div>
    </div>
</div>
