<div class="wrapper wrapper-content animated fadeIn modalibox">
    <div class="ibox">
        <div class="ibox-title ibox_title_reset">
            <h3>Related Questions</h3>
        </div>

        <div class="ibox-content" ng-class="main.page_loader.dialog ? 'sk-loading' : ''" ng-style="modal_style">
            {% include "common/loader.html" %} 
            <div class="row">
                <form class="form" name="form">
                    <!-- <div class="col-sm-12" ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine }">
                        <label class="required">Name</label>
                        <input type="text" ng-model="record.name" name="name" required class="form-control">
                    </div> -->
                    <div class="col-sm-12">
                        <label>Questions</label>
                        <ui-select ng-model="record.related_questions" multiple ng-disabled="!questions[0]">
                            <ui-select-match placeholder="{$ questions[0] ? 'Select...' : 'Please wait...' $}"><span ng-if="questions[0]">{$ $item.code_value $}</span></ui-select-match>
                            <ui-select-choices repeat="question in questions | filter: $select.search | limitTo:50">
                                <div ng-bind-html="question.code_value | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-sm-12" ng-hide="true">
                        <br>
                        <input type="checkbox" id="is_active" name="is_active" ng-model="record.is_active"><label for="is_active">Active</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="ibox-footer">
            <div class="pull-right">
                <button type="button" class="btn btn-sm btn-primary btn-w-m" ng-click="create()" ng-disabled="form.$invalid">Save</button>
                <button type="button" class="btn btn-sm btn-danger btn-w-m" ng-click="main.close_dialog()">Close</button>
            </div>
        </div>
    </div>
</div>
