<div class="wrapper wrapper-content animated fadeIn modalibox">
    <div class="ibox">
        <div class="ibox-title ibox_title_reset">
            <h3><span ng-if="!display_terms[0].questions" ng-cloak="">Question</span><span ng-if="display_terms[0].questions" ng-cloak="">aaaaaaaaaaaaaa{$ display_terms[0].questions $}</span></h3>
        </div>

        <div class="ibox-content" ng-class="main.page_loader.dialog ? 'sk-loading' : ''" ng-style="modal_style">
            <div class="row">
                <form class="form" name="form">
                    <!-- <div class="col-sm-12" ng-if="!record.is_general">
                        <label><span ng-if="!display_terms[0].transaction_types" ng-cloak="">Transaction Type</span><span ng-if="display_terms[0].transaction_types" ng-cloak="">{$ display_terms[0].transaction_types $}</span></label> <span ng-if="!transaction_types2[0]"><i class="fa fa-spinner fa-pulse"></i></span>
                        <ui-select ng-model="record.transaction_type" ng-change="generate_code()">
                            <ui-select-match placeholder="{$ transaction_types2[0] ? 'Select...' : 'Please wait...' $}">{$ $select.selected.name $} - {$ $select.selected.set_no $}</ui-select-match>
                            <ui-select-choices repeat="transaction_type in transaction_types2 | filter: $select.search | limitTo:50">
                                <span ng-bind-html="transaction_type.name | highlight: $select.search"></span> - Set <span ng-bind-html="transaction_type.set_no | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div> -->
                    <div>
                        <div class="col-sm-12">
                            <label class="btn btn-outline btn-success" for="my-file-selector">
                                <input type="file" style="display:none;" name="image" class="ng-pristine ng-untouched ng-valid ng-empty " file-model="record.images" id="my-file-selector" multiple accept=".png,.jpg,.jpeg">
                                Choose file...
                            </label>
                        </div>
                        <div class="col-sm-12"><br>
                            <div class="lightBoxGallery">
                                <div class="col-sm-3" ng-hide="image.upload" ng-repeat="image in ImageSrc">
                                    Image {$ $index +1 $}<br>
                                    <a href="{$ image.image $}" title="" data-gallery="">
                                        <img src="{$ image.image $}"  class="img-rounded" style="height:100px;width:100px;"><br>
                                    </a>
                                    <ui-select ng-model="record.transaction_type[$index]">
                                        <ui-select-match placeholder="{$ transaction_types2[0] ? 'Select...' : 'Please wait...' $}">{$ $select.selected.name $} - {$ $select.selected.set_no $}</ui-select-match>
                                        <ui-select-choices repeat="transaction_type in transaction_types2 | filter: $select.search | limitTo:50">
                                            <span ng-bind-html="transaction_type.name | highlight: $select.search"></span> - Set <span ng-bind-html="transaction_type.set_no | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select><br><br>
                                    <input type="text" name="code" placeholder="Code" ng-model="record.code[$index]" required class="form-control">
                                    <!-- <div class="checkbox checkbox-success">
                                        <input type="checkbox" id="is_document_{$$index$}" name="is_document_{$$index$}" ng-model="record.is_document[$index]" ng-click="isMultiple()"><label for="is_document_{$$index$}">Needs document image</label>
                                    </div> -->
                                    <button class="btn bt-outline btn-danger" ng-click="remove_image(image, $index)"><i class="fa fa-trash-o"></i></button>
                                </div>
                                <div id="blueimp-gallery" class="blueimp-gallery">
                                    <div class="slides"></div>
                                    <h3 class="title"></h3>
                                    <a class="prev">‹</a>
                                    <a class="next">›</a>
                                    <a class="close">×</a>
                                    <a class="play-pause"></a>
                                    <ol class="indicator"></ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="ibox-footer">
            <div class="pull-right">
                <button type="button" class="btn btn-sm btn-primary btn-w-m" ng-click="create()">Upload</button>
                <button type="button" class="btn btn-sm btn-danger btn-w-m" ng-click="main.close_dialog()">Close</button>
            </div>
        </div>
    </div>
</div>
