{% load staticfiles%}
<nav class="navbar-default navbar-static-side" role="navigation" ng-cloak>
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element" style="padding-top:30px; padding-bottom: 18px;">

                    <img alt="image"
                         class="img-circle"
                         src="{% static 'img/profile_small.jpg' %}"
                         />

                    <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Hello! {{ request.user.email }}</strong>
                            </span>

                            <span class="text-muted text-xs block">Admin <b class="caret"></b></span>

                        </span>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a ng-click="ctrl.open_profile_dialog()">Profile</a></li>
                    </ul>
                </div>
                <div class="logo-element"></div>
            </li>

            <li id="math_online">
                <a id="math_online" href="#">
                    <i class="fa fa-pencil"></i>
                    <span class="nav-label">Learning Materials</span>
                    <span class="fa arrow"></span>
                </a>

                <ul class="nav nav-second-level collapse">

                    <li id="courses">
                        <a href="/courses/">
                            <i class="fa fa-university"></i>
                            <span class="nav-label">Courses</span>
                        </a>
                    </li>

                    <li>
                        <a href="/programs/">
                            <i class="fa fa-university"></i>
                            <span class="nav-label">Programs</span>
                        </a>
                    </li>

                    <li>
                        <a href="/sessions/">
                            <i class="fa fa-university"></i>
                            <span class="nav-label">Sessions</span>
                        </a>
                    </li>


                    <li>
                        <a href="/exercise/">
                            <i class="fa fa-university"></i>
                            <span class="nav-label">Exercise</span>
                        </a>
                    </li>

                    <li id="questions">
                        <a href="/questions/">
                            <i class="fa fa-university"></i>
                            <span class="nav-label">Questions</span>
                        </a>
                    </li>

                     <li id="subjects">
                        <a href="/subjects/">
                            <i class="fa fa-university"></i>
                            <span class="nav-label">Subjects</span>
                        </a>
                    </li>

                </ul>
            </li>

            {% if request.user.is_intelex %}

            <li>
                <a href="/dashboard/">
                    <i class="fa fa-tachometer"></i>
                    <span class="nav-label">Dashboard</span>
                </a>
            </li>

            <li id="math_online">
                <a id="math_online" href="#">
                    <i class="fa fa-pencil"></i>
                    <span class="nav-label">Math Online Module</span>
                    <span class="fa arrow"></span>
                </a>

                <ul class="nav nav-second-level collapse"> 
                    <li id="questions">
                        <a href="/questions/">
                            <i class="fa fa-university"></i>
                            <span class="nav-label">Questions</span>
                        </a>
                    </li>

                    <li id="subjects">
                        <a href="/subjects/">
                            <i class="fa fa-university"></i>
                            <span class="nav-label">Subjects</span>
                        </a>
                    </li>




                    <li id="subjects">
                        <a href="/subjects/">
                            <i class="fa fa-university"></i>
                            <span class="nav-label">Questionnaire</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li>
                <a href="/lesson_updates/load_page/">
                    <i class="fa fa-file-text"></i>
                    <span class="nav-label">Lesson Updates</span>
                </a>
            </li>
            <li>
                <a href="/assessments"><i class="fa fa-pencil"></i> <span class="nav-label" ng-if="!display_terms[0].questions" ng-cloak="">Worksheets</span><span class="nav-label" ng-if="display_terms[0].questions" ng-cloak="">{$ display_terms[0].questions $}</span></a>
            </li>
            {% if request.user.user_type.name == 'Technical' %}
            <li>
                <a href="/related_questions"><i class="fa fa-link"></i> <span class="nav-label">Related Questions</span></a>
            </li>
            {% endif %}
            <li>
                <a href="/recommendations"><i class="fa fa-smile-o"></i> <span class="nav-label">Recommendations</span></a>
            </li>

            {% endif %}

            <li id="enrollment">
                <a id="enrollment" href="#">
                    <i class="fa fa-pencil"></i>
                    <span class="nav-label">Enrollment</span>
                    <span class="fa arrow"></span>
                </a>

                <ul class="nav nav-second-level collapse"> 
                    <li id="enrollment_list">
                        <a href="/enrollments/enrollments">
                            <i class="fa fa-university"></i>
                            <span class="nav-label">Enrollment List</span>
                        </a>
                    </li>

                    {% if request.user.is_intelex %}

                    <li id="enrollment_reports">
                        <a href="/enrollments/student_reports/">
                            <i class="fa fa-graduation-cap"></i>
                            <span class="nav-label">Student Reports</span>
                        </a>
                    </li>

                    <li id="enrollment_reports">
                        <a href="/enrollments/payment_reports">
                            <i class="fa fa-credit-card"></i>
                            <span class="nav-label">Payment Reports</span>
                        </a>
                    </li>

                    {% endif %}

                </ul>
            </li>

{#            {% if request.user.is_intelex %}#}

            <!-- SESSION EVALUATION -->
            <li id="session_evaluation">
                <a id="session_evaluation" href="#"><i class="fa fa-pencil-square-o"></i> <span class="nav-label">Session Evaluation</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li id="evaluation_list">
                            <a href="/student_sessions/"><i class="fa fa-check-square-o"></i> <span class="nav-label">Evaluation List</span> </a>
                    </li>
                    <li id="evaluation_list">
                            <a href="/company_assessment/"><i class="fa fa-list"></i> <span class="nav-label">Assessment List</span> </a>
                    </li>



                    <li id="session_report">
                            <a href="/session_report/"><i class="fa fa-tachometer"></i> <span class="nav-label">Session Reports</span> </a>
                    </li>
                    <li id="student_todo">
                            <a href="/student_todo/"><i class="fa fa-list-ol"></i> <span class="nav-label">Student To Do</span> </a>
                    </li>


                </ul>
            </li>

{#            {% endif %}#}
            
            

            <li id="users">
                <a id="users" href="#"><i class="fa fa-users"></i> <span class="nav-label">Users</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li id="users">
                            <a href="/users"><i class="fa fa-users"></i> <span class="nav-label">User List</span> </a>
                    </li>

                    {% if request.user.is_intelex %}


                    <li>
                        <a href="/timeslots/"><i class="fa fa-tachometer"></i> <span class="nav-label">Timeslot</span></a>
                    </li>
                    <li>
                        <a href="/timeslots/special_reservations/"><i class="fa fa-tachometer"></i> <span class="nav-label">Special Reservation</span></a>
                    </li>
                    <li id="user_logs">
                            <a href="/user_logs/"><i class="fa fa-list"></i> <span class="nav-label">User Logs</span> </a>
                    </li>

                    {% endif %}
                </ul>
            </li>

            {% if request.user.user_type.name == 'Technical' %}
            <li>
                <a href="/transaction_types"><i class="fa fa-exchange"></i> <span class="nav-label" ng-if="!display_terms[0].transaction_types" ng-cloak="">Exercise Name</span><span class="nav-label" ng-if="display_terms[0].transaction_types" ng-cloak="">{$ display_terms[0].transaction_types $}</span></a>
            </li>
            <li>
                <a href="/company"><i class="fa fa-building"></i> <span class="nav-label" ng-if="!display_terms[0].company_rename" ng-cloak="">Programs</span><span class="nav-label" ng-if="display_terms[0].company_rename" ng-cloak="">{$ display_terms[0].company_rename $}</span></a>
            </li>
            <li>
                <a href="/import"><i class="fa fa-upload"></i> <span class="nav-label">Import</span></a>
            </li>
            {% endif %}
            
            {% if request.user.user_type.name == 'Technical' %}
            <li>
                <a href="/settings"><i class="fa fa-cogs"></i> <span class="nav-label">Settings</span></a>
            </li>
            {% endif %}

        </ul>
    </div>
</nav>
