{% extends "base.html" %} {% load static %} {% block ngapp %}ng-app="enrollment"{% endblock %} {% block ngctrl %}ng-controller="enrollmentCtrl as main"{% endblock %} {% block title %}Enrollment {% endblock %} {% block loader_js_bottom %}
<script type="text/javascript" src="{% static 'js/enrollment.js' %}"></script>
{% endblock loader_js_bottom %} {% block page_header %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <!-- <h2><span ng-if="!display_terms[0].company_rename" ng-cloak="">Company</span><span ng-if="display_terms[0].company_rename" ng-cloak="">{$ display_terms[0].company_rename $}</span></h2> -->
        <h2>Enrollment</h2>
    </div>
</div>
{% endblock %} 

{% block editable_css %}
    <style type="text/css">
        .hand_cursor {
            cursor: pointer !important;
        }

        .hand_cursor:hover {
            background-color: #E8E8E8 !important;
        }
    </style>
{% endblock %}

{% block content_body %}
<div class="wrapper wrapper-content animated fadeIn" ng-cloak="">
    <div class="ibox">
        <div class="ibox-content" ng-class="main.page_loader.main ? 'sk-loading' : ''">
            {% include "common/loader.html" %} 
            <div class="row">
                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="Search..." ng-model="filter.name" name="">
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-default" ng-click="read_pagination()"><i class="fa fa-search"></i> SEARCH</button><br>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-primary pull-right" ng-click="enrollment_dialog()">CREATE</button>
                </div>
                <div class="clearfix"></div>
                <hr>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Student Name</th>
                                <th>Program</th>
                                <th>Session Credits</th>
                                <th>Credits Consumed</th>
                                <th>Remaining Credits</th>
                                <th>Status</th>
                                <th ng-hide="true">Assessment Test</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="record in records" context-menu="main.menu_options(record)" class="hand_cursor" style="text-align: center;" ng-click="enrollment_dialog(record)">
                                <td>{$ record.code $}</td>
                                <td>{$ record.user.fullname $}</td>
                                <td>{$ record.company_rename.name $}</td>
                                <td>{$ record.session_credits_seconds | secondstoDuration $}</td>
                                <td>{$ record.total_session_time $}</td>
                                <td ng-class="{'text-red' : record.total_seconds_left < 0 }">{$ record.total_time_left $}</td>
                                <td><span ng-show="{$record.is_expire$}">Expired</span></td>
                                <td ng-hide="true"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination></pagination>
            </div>
        </div>
    </div>
</div>
{% endblock %}
