{% extends "base.html" %} {% load static %} {% block ngapp %}ng-app="enrollment"{% endblock %} {% block ngctrl %}ng-controller="enrollmentCtrl as main"{% endblock %} {% block title %}Enrollment {% endblock %} {% block loader_js_bottom %}
<script type="text/javascript" src="{% static 'js/enrollment.js' %}"></script>
{% endblock loader_js_bottom %} {% block page_header %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <!-- <h2><span ng-if="!display_terms[0].company_rename" ng-cloak="">Company</span><span ng-if="display_terms[0].company_rename" ng-cloak="">{$ display_terms[0].company_rename $}</span></h2> -->
        <h2>Enrollment</h2>
    </div>
</div>
{% endblock %} 

{% block editable_css %}
    <style type="text/css">
        .hand_cursor {
            cursor: pointer !important;
        }

        .hand_cursor:hover {
            background-color: #E8E8E8 !important;
        }
    </style>
{% endblock %}

{% block content_body %}
<div class="wrapper wrapper-content animated fadeIn" ng-cloak="">
    <div class="ibox">

        <div class="ibox-title">
            <button class="btn btn-outline btn-primary" ng-click="enrollment_dialog()">Add Enrollment</button>             
        </div>


        <div class="ibox">

            <div class="ibox-content m-b-sm border-bottom">
                <div class="row">

                    <div class="col-xs-4">
                        <label>Search</label>
                        <input type="text" ng-model="main.filters.search" name="search" placeholder="Search..." class="form-control" ng-enter="read_pagination()">
                    </div>

                    <div class="col-xs-4">
                        <label>Date From</label>
                        <input type="date" name="date_from" class="form-control" ng-model="main.filters.date_from">
                    </div>
                
                    <div class="col-xs-4">
                        <label>Date To</label>
                        <input type="date" name="date_from" class="form-control" ng-model="main.filters.date_to">
                    </div>

                </div>
            </div>
        </div>
        
    </div>


        <div class="ibox-content" ng-class="main.page_loader.main ? 'sk-loading' : ''">
            {% include "common/loader.html" %} 
            <div class="row">
               
                <div class="table-responsive" style="min-height: 400px;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Student Name</th>
                                <th>Program</th>
                                <th>Session Credits</th>
                                <th>Credits Consumed</th>
                                <th>Remaining Credits</th>
                                <th>Status</th>
                                <th ng-hide="true">Assessment Test</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="record in main.records" context-menu="main.menu_options(record)" class="hand_cursor" style="text-align: center;" ng-click="enrollment_dialog(record)">
                                <td class="text-left">{$ record.code $}</td>
                                <td class="text-left">{$ record.user.fullname $}</td>
                                <td class="text-left">{$ record.company_rename.name $}</td>
                                <td>{$ record.session_credits_seconds | secondstoDuration $}</td>
                                <td>{$ record.total_session_time $}</td>
                                <td ng-class="{'text-red' : record.total_seconds_left < 0 }">{$ record.total_time_left $}</td>
                                <td><span ng-show="{$record.is_expire$}">Expired</span></td>
                                <td ng-hide="true"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination></pagination>
            </div>
        </div>
    </div>
</div>
{% endblock %}
