<div class="loginColumns animated slideInRight">
    <br>
    <br>
    <div class="clearfix"></div>


    <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6" style="margin-top:-25px; padding : 30px; background-color: #21D4FD; background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);">

                    <h1 class="text-white">Sign up as Learning Center</h1>

                    <br>
                    <label for="login" class="text-white">Name of your Learning Center</label>
                    <input type="text" class="form-control">

                    <br>
                    <label for="login" class="text-white">Email</label>
                    <input type="text" class="form-control">

                    <br>
                    <label for="login" class="text-white">Password</label>
                    <input type="password" class="form-control">

                    <br>
                    <label for="login" class="text-white">Confirm Password</label>
                    <input type="password" class="form-control">

                    <br>

                    <button class="btn btn-default btn-outline btn-block btn-lg btn-rounded text-white">Login</button>

                </div>
                <div class="col-lg-3"></div>

                <div class="col-lg-6" style="background-color: rgba(255, 255, 255, 1); padding : 30px" ng-hide="true">

                    <h1>Sign In</h1>

                    <br>
                    <label for="login">Email</label>
                    <input type="text" class="form-control">

                    <br>
                    <label for="login">Password</label>
                    <input type="password" class="form-control">

                    <br>

                    <button class="btn btn-block btn-lg btn-rounded text-white" style="background-color: #21D4FD; background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);">Login</button>

                    <br>

                </div>



            </div>

            <h1 class="text-white text-center"><a class="text-white sign-in-link" ui-sref="student">Sign in as Student</a></h1>


</div>