<div class="loginColumns animated slideInLeft">
    <br>
    <br>
    <div class="clearfix"></div>


    <div class="row">

                <div class="col-lg-6" style="background-color: rgba(255, 255, 255, 1); padding : 30px">

                    <h1>Sign in</h1>

                    <br>
                    <label for="login">Email or Username</label>
                    <input type="text" class="form-control" ng-model="credentials.email">

                    <br>
                    <label for="login">Password</label>
                    <input type="password" class="form-control" ng-model="credentials.password" ng-enter="login(credentials)">

                    <br>

                    <button class="btn btn-block btn-lg btn-rounded text-white" style="background-color: #FFE53B; background-image: linear-gradient(45deg, #FFE53B 0%, #FF2525 74%);" ng-click="login(credentials)">Login</button>

                    <br>

                </div>
                <div class="col-lg-6" style="margin-top:-25px; padding : 40px; background-color: #FFE53B; background-image: linear-gradient(45deg, #FFE53B 0%, #FF2525 74%);">

                    <h1 class="text-white">Sign up as Student</h1>

                    <br>
                    <label for="login" class="text-white">Email</label>
                    <input type="text" class="form-control">

                    <br>
                    <label for="login" class="text-white">Password</label>
                    <input type="password" class="form-control">

                    <br>
                    <label for="login" class="text-white">Confirm Password</label>
                    <input type="password" class="form-control">

                    <br>

                    <button class="btn btn-default btn-outline btn-block btn-lg btn-rounded text-white">Login</button>

                    <br>


                </div>


            </div>

            <h1 class="text-white text-center"><a class="text-white sign-in-link" ui-sref="learning_center">Sign up as Learning Center</a></h1>


</div>