{% load staticfiles %}
<div class="" ng-init="ctrl.read_session_exercises()">



    <div class="row">

        <div class="col-lg-2">

            <div class="ibox">
                <div class="ibox-title">
                    <h3>{$ ctrl.session_name $}</h3>
                </div>
                <div class="ibox-content">

                    <table class="table table-hover table-mail">
                        <tbody>

                            <tr class="read" ng-repeat="record in ctrl.session_exercises" ng-click="ctrl.read_questions(record)">
                                <td class="mail-subject">
                                    <a>{$ record.exercise.transaction_code $}</a>
                                    <br>
                                    <span>{$ record.exercise.name $}</span>
                                    <span>{$ record.exercise.set_no $}</span><br>
                                    <span>Score : <b>{$ record.score $}</b></span>
                                </td>
                                <td>
                                    <i class="fa fa-check-circle" style="color: forestgreen" ng-show="record.has_answered"></i>
                                    <i class="fa fa-check-circle" ng-show="!record.has_answered"></i>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>

                <div class="ibox-footer" ng-hide="true">
                    <span>Session Progress</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 43%" role="progressbar" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
                        <span>43%</span>
                    </div>

                </div>

            </div>

        </div>

        <div class="col-lg-6">

            <h2 class="text-center" ng-show="ctrl.questions.length <= 0">Select an Exercise</h2>

            <div class="ibox" ng-show="ctrl.questions.length > 0">

                <div class="ibox-title">
                    <h3>{$ ctrl.current_exercise.exercise.name $}</h3>
                    <h4>Set {$ ctrl.current_exercise.exercise.set_no $}</h4>

                    <div class="ibox-tools">
                       <button class="btn btn-outline btn-primary" ng-click="ctrl.submit_answers()" ng-hide="ctrl.current_exercise.has_answered">Submit</button>
                    </div>

                </div>

                <div class="ibox-content">

                    <div class="feed-activity-list">

                        <div class="feed-element" ng-repeat="record in ctrl.questions track by $index" ng-init="ctrl.checkUnicode($index)">
                            <div class="media-body">

                                <img ng-click="ctrl.select_question(record)" ng-show="record.default_image" width="100" height="100" src="{$ record.default_image $}" alt="">

                                <h3 class="pull-left">{$ record.name $}</h3>
                                <span class="float-right" style="margin-top: -30px" ng-show="ctrl.current_exercise.has_answered">
                                    <i style="font-size: 30px;"
                                       class="fa"
                                       ng-class="{ 'fa-check-circle' : record.answered_correct , 'fa-times-circle' : !record.answered_correct }"
                                       ng-style="{ 'color' : record.answered_correct ? 'green' : 'red' }">

                                    </i>
                                </span>

                                <br>

                                <p ng-repeat="choice in record.question_choices">
                                    <input ng-disabled="ctrl.current_exercise.has_answered" icheck type="radio" id="{$ choice.uuid $}" ng-model="record.answer" ng-value="choice.uuid"/>
                                    <span ng-hide="choice.isUnicode">{$ choice.name $}</span>
                                    <span ng-show="choice.isUnicode" style="font-size: 30px;">{$ choice.name $}</span>
                                    <b style="color:green" ng-show="choice.is_correct"><i style="color:green" class="fa fa-check-circle"></i> Correct Answer</b>
                                </p>

                            </div>
                        </div>

                    </div>

                    <br>
                    <button class="btn btn-outline btn-primary pull-right" ng-click="ctrl.submit_answers()" ng-hide="ctrl.current_exercise.has_answered">Submit</button>

                </div>

            </div>

        </div>

        <div class="col-lg-3">
            
            <div class="ibox">
                <div class="ibox-title">
                    Question Image
                </div>
                <div class="ibox-content">
                    <img style="max-width: 100%" src="{$ ctrl.selected_question.default_image $}" alt="">
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    Need Help?
                </div>
                <div class="ibox-content">

                    <h5>Learn more about the topic</h5>

                    <div ng-repeat="video in ctrl.session_videos | orderBy: '-date'"  style="padding:20px">
                    <div>
                       <iframe allowfullscreen="" style="width: 100%; height: 150px;" ng-src="{$ video.video_url | trusted $}"
                         frameborder="0" allowfullscreen></iframe>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="small-chat-box fadeInRight animated">

            <div class="heading" draggable="true">
                <small class="chat-date float-right">
                    02.19.2015
                </small>
                Small chat
            </div>

            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 234px;"><div class="content" style="overflow: hidden; width: auto; height: 234px;">

                <div class="left">
                    <div class="author-name">
                        Monica Jackson <small class="chat-date">
                        10:02 am
                    </small>
                    </div>
                    <div class="chat-message active">
                        Lorem Ipsum is simply dummy text input.
                    </div>

                </div>
                <div class="right">
                    <div class="author-name">
                        Mick Smith
                        <small class="chat-date">
                            11:24 am
                        </small>
                    </div>
                    <div class="chat-message">
                        Lorem Ipsum is simpl.
                    </div>
                </div>
                <div class="left">
                    <div class="author-name">
                        Alice Novak
                        <small class="chat-date">
                            08:45 pm
                        </small>
                    </div>
                    <div class="chat-message active">
                        Check this stock char.
                    </div>
                </div>
                <div class="right">
                    <div class="author-name">
                        Anna Lamson
                        <small class="chat-date">
                            11:24 am
                        </small>
                    </div>
                    <div class="chat-message">
                        The standard chunk of Lorem Ipsum
                    </div>
                </div>
                <div class="left">
                    <div class="author-name">
                        Mick Lane
                        <small class="chat-date">
                            08:45 pm
                        </small>
                    </div>
                    <div class="chat-message active">
                        I belive that. Lorem Ipsum is simply dummy text.
                    </div>
                </div>


            </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 162.481px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.4; z-index: 90; right: 1px;"></div></div>
            <div class="form-chat">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control">
                    <span class="input-group-btn"> <button class="btn btn-primary" type="button">Send
                </button> </span></div>
            </div>

        </div>


</div>

