{% load staticfiles %}
<div class="container-fluid" >

    <h2 class="text-center">Kumon</h2>
    <br>


    <div class="row" >


        <div class="col-lg-1"></div>

        <div class="col-lg-3">

            <div class="ibox">
                    <div class="ibox-title" style="background-image: url({% static 'img/owlex.png' %}); background-repeat: no-repeat; background-position: right">
                        <h3>Science</h3>
                    </div>
                    <div class="ibox-content">

                        <ul>
                            <li>College Algebra</li>
                            <li>High School Algebra</li>
                            <li>Elementary Algebra</li>
                            <li>Kinder Algebra</li>
                            <li>Nursery Algebra</li>
                        </ul>

                        <button class="btn btn-block btn-warning">Enroll Program</button>

                    </div>
            </div>



        </div>

        <div class="col-lg-3">

            <div class="ibox">
                    <div class="ibox-title" style="background-image: url({% static 'img/owlex.png' %}); background-repeat: no-repeat; background-position: right">
                        <h3>Math</h3>
                    </div>
                    <div class="ibox-content">

                        <ul>
                            <li>College Algebra</li>
                            <li>High School Algebra</li>
                            <li>Elementary Algebra</li>
                            <li>Kinder Algebra</li>
                            <li>Nursery Algebra</li>
                        </ul>

                        <button class="btn btn-block btn-warning">Enroll Program</button>

                    </div>
            </div>

        </div>

        <div class="col-lg-3">

            <div class="ibox">
                    <div class="ibox-title" style="background-image: url({% static 'img/intelex_math.jpeg' %});  background-repeat: no-repeat; background-position: right">
                        <h3>English</h3>
                    </div>
                    <div class="ibox-content">

                        <ul>
                            <li>College Algebra</li>
                            <li>High School Algebra</li>
                            <li>Elementary Algebra</li>
                            <li>Kinder Algebra</li>
                            <li>Nursery Algebra</li>
                        </ul>

                        <button class="btn btn-block btn-warning">Enroll Program</button>

                    </div>
            </div>

        </div>

        <div class="col-lg-1"></div>

    </div>

    <div class="row">

        <div class="col-lg-1"></div>

        <div class="col-lg-3">
            <h3>Courses Offered</h3>
        </div>




    </div>

    <div class="row">

        <div class="col-lg-1"></div>

        <div class="col-lg-3">

            <h3>What you will learn</h3>

            <br>

            <ul>
                <li>Angular core features</li>
                <li>Angular core features</li>
                <li>Angular core features</li>
                <li>Angular core features</li>
                <li>Angular core features</li>
                <li>Angular core features</li>
            </ul>

        </div>

    </div>





</div>