{% extends "base.html" %}
{% load static %}
{% block ngapp %}ng-app="user_logs"{% endblock %}
{% block ngctrl %}ng-controller="UserLogsCtrl as main"{% endblock %}
{% block title %}Users {% endblock %} {% block loader_js_bottom %}

<script type="text/javascript" src="{% static 'js/user_logs.js' %}"></script>
{% endblock loader_js_bottom %} {% block page_header %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>User Logs</h2>
    </div>
</div>
{% endblock %} 

{% block editable_css %}
    <style type="text/css">
        .hand_cursor {
            cursor: pointer !important;
        }

        .hand_cursor:hover {
            background-color: #E8E8E8 !important;
        }
    </style>
{% endblock %}

{% block content_body %}
<div class="wrapper wrapper-content animated fadeIn" ng-cloak="">
    <div class="ibox">
        <div class="ibox-content" ng-class="main.page_loader.main ? 'sk-loading' : ''">
            {% include "common/loader.html" %}

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <th>Fullname</th>
                        <th>Date</th>
                        <th>Mobile</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="record in records" class="hand_cursor">
                            <td ng-click="load_to_edit(record, '{{request.user.user_type.name}}')">{$ record.fullname $}</td>
                            <td ng-click="load_to_edit(record, '{{request.user.user_type.name}}')">{$ record.date_login $}</td>
                            <td ng-click="load_to_edit(record, '{{request.user.user_type.name}}')">{$ record.device $}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination></pagination>
        </div>
    </div>
</div>
{% endblock %}
