{% load staticfiles %}
<div class="modal-header">
    
    <div class="row">
        <div class="col-sm-5">
            <h3 style="margin:10px">Questions</h3>
        </div>

        <div class="col-sm-7">
            <div class="pull-right">
                <button class="btn btn-sm btn-link" ng-click="main.save_record(main.record)">
                    <i class="fa fa-save dialog-button" class="dialog-button"></i>
                    <span>Save</span>
                </button>

                <button class="btn btn-sm btn-link" ng-click="main.close_dialog()">
                    <i class="fa fa-times-circle dialog-button"></i>
                    <span>Close</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div cclass="modal-body">
    <div class="ibox-content no-padding-top gray-bg" ng-class="main.page_loader.dialog ? 'sk-loading' : ''" ng-style="modal_style">

        {% include "common/loader.html" %}
        <form class="form-horizontal" name="form">

            <div class="row">

                <div class="col-xs-12">

                    <div class="tabs-container">
                        <ul class="nav nav-tabs" role="tablist">
                            <li><a class="nav-link active" data-toggle="tab" href="#tab-1"> Question</a></li>
                            <li><a class="nav-link" data-toggle="tab" href="#tab-2">Image</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" id="tab-1" class="tab-pane active">
                                <div class="panel-body">

                                    <div class="col-xs-12">
                                        <label for="">Question</label>
                                        <textarea type="text" style="height: 250px" class="form-control" ng-model="main.record.name"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <div class="col-xs-6">
                                        <img src="{$ main.record.default_image $}" alt="" width="200">
                                        <input type="file" class="btn btn-success" nv-file-select="" uploader="main.uploader"/>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>


                </div>

            </div>
            
            <div class="row">
                <div class="col-xs-12">
                    <br>
                    <b>Choices</b>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Choice</th>
                                <th>Correct Choice</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="choice in main.question_choices">
                                <td><input type="text" class="form-control" ng-model="choice.name"></td>
                                <td><center><input icheck type="checkbox" name="choice" ng-model="choice.is_correct" ng-value="selected"></center></td>
                                <td>
                                    <button class="btn btn-danger btn-xs" ng-click="main.delete_question_choices(choice)"><i class="fa fa-remove"></i></button>
                                </td>
                            </tr>
                        </tbody>

                    </table>

                    <br>

                    <a ng-click="main.add_question_choices(main.choice)">Add Option</a>

                </div>
            </div>
            
            
        </form>

    </div>
</div>
<div class="modal-footer">

    <p>Questions</p>

</div>
