{% load static %}
{#<div class="sk-spinner">#}
{#<img id="disney" src="{% static "img/owlex.png"%}" alt="Disney Logo" class="img-responsive logo" style="margin: 0 auto;" />#}
{#    <div class="sk-cube"></div>#}
{#    <div class="sk-cube"></div>#}
{#    <div class="sk-cube"></div>#}
{#    <div class="sk-cube"></div>#}
{#    <div class="sk-cube"></div>#}
{#    <div class="sk-cube"></div>#}
{#    <div class="sk-cube"></div>#}
{#    <div class="sk-cube"></div>#}
{#    <div class="sk-cube"></div>#}
{#</div>#}

<div class="sk-spinner sk-spinner-cube-grid">
                                    <div class="sk-cube"></div>
                                    <div class="sk-cube"></div>
                                    <div class="sk-cube"></div>
                                    <div class="sk-cube"></div>
                                    <div class="sk-cube"></div>
                                    <div class="sk-cube"></div>
                                    <div class="sk-cube"></div>
                                    <div class="sk-cube"></div>
                                    <div class="sk-cube"></div>
                                </div>