<div class="wrapper wrapper-content animated fadeIn modalibox">
    <div class="ibox">
        <div class="ibox-title ibox_title_reset">
            <h3>User</h3>
        </div>

        <div class="ibox-content" ng-class="main.page_loader.dialog ? 'sk-loading' : ''" ng-style="modal_style">
            {% include "common/loader.html" %} 
            <div class="row">
                <form class="form" name="form">
                    <div class="col-sm-12" ng-class="{ 'has-error' : form.fullname.$invalid && !form.fullname.$pristine }">
                        <label class="required">Fullname</label>
                        <input type="text" ng-model="record.fullname" name="fullname" required class="form-control">
                    </div>
                    <div class="col-sm-12" ng-class="{ 'has-error' : form.email.$invalid && !form.email.$pristine }">
                        <label class="required">Email</label>
                        <input type="email" ng-model="record.email" name="email" required class="form-control">
                    </div>
                    <div class="col-sm-12" ng-hide="record.password">
                        <label class="required">Password</label>
                        <input type="password" ng-model="record.password1" ng-required="!record.password" name="password" class="form-control">
                    </div>
                    <div class="col-sm-12" ng-hide="record.password">
                        <label class="required">Confirm Password</label>
                        <input type="password" ng-model="record.password2" ng-required="!record.password" name="password" class="form-control">
                    </div>
                    <div class="col-sm-12" ng-class="{ 'has-error' : form.user_type.$invalid && !form.user_type.$pristine }">
                        <label>User Type</label>
                        <ui-select ng-model="record.user_type">
                            <ui-select-match placeholder="Select...">{$ $select.selected.name $}</ui-select-match>
                            <ui-select-choices repeat="user_type in user_types | filter: $select.search | limitTo:50">
                                <div ng-bind-html="user_type.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-sm-12">
                        <div class="checkbox checkbox-success">
                            <input type="checkbox" id="is_admin" name="is_admin" ng-model="record.is_admin"><label for="is_admin">Admin</label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="checkbox checkbox-success">
                            <input type="checkbox" id="is_edit" name="is_edit" ng-model="record.is_edit"><label for="is_edit">Can edit after sync</label>
                        </div>
                    </div>
                    <div class="col-sm-12" ng-hide="true">
                        <br>
                        <input type="checkbox" id="is_active" name="is_active" ng-model="record.is_active"><label for="is_active">Active</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="ibox-footer">
            <div class="pull-right">
                <button type="button" class="btn btn-sm btn-primary btn-w-m" ng-click="create()" ng-disabled="form.$invalid">Save</button>
                <button type="button" class="btn btn-sm btn-danger btn-w-m" ng-click="main.close_dialog()">Close</button>
            </div>
        </div>
    </div>
</div>
