<div class="wrapper wrapper-content animated fadeIn modalibox">
    <div class="ibox">
        <div class="ibox-title ibox_title_reset">
            <h3><span ng-if="!display_terms[0].transaction_types" ng-cloak="">Transaction Types</span><span ng-if="display_terms[0].transaction_types" ng-cloak="">{$ display_terms[0].transaction_types $}</span></h3>
        </div>

        <div class="ibox-content" ng-class="main.page_loader.dialog ? 'sk-loading' : ''" ng-style="modal_style">
            {% include "common/loader.html" %} 
            <div class="row">
                <form class="form" name="form">
                    <div class="col-sm-12" ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine }">
                        <label class="required"><span ng-if="!display_terms[0].transaction_types" ng-cloak="">Transaction Types</span><span ng-if="display_terms[0].transaction_types" ng-cloak="">{$ display_terms[0].transaction_types $}</span></label>
                        <input type="text" ng-model="record.name" name="name" required class="form-control">
                    </div>
                    <div class="col-sm-12" ng-class="{ 'has-error' : form.transaction_code.$invalid && !form.transaction_code.$pristine }">
                        <label class="required">Code</label> <small class="text-danger"><b>(Must be at least 4 characters)</b></small>
                        <input type="text" ng-minlength="4" ng-model="record.transaction_code" name="transaction_code" required class="form-control" ng-disabled="record.code_exist">
                    </div>
                    <div class="col-sm-12" ng-hide="true">
                        <br>
                        <input type="checkbox" id="is_active" name="is_active" ng-model="record.is_active"><label for="is_active">Active</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="ibox-footer">
            <div class="pull-right">
                <button type="button" class="btn btn-sm btn-primary btn-w-m" ng-click="create()" ng-disabled="form.$invalid">Save</button>
                <button type="button" class="btn btn-sm btn-danger btn-w-m" ng-click="main.close_dialog()">Close</button>
            </div>
        </div>
    </div>
</div>
