{% extends "base.html" %} {% load static %} {% block ngapp %}ng-app="assessments"{% endblock %} {% block ngctrl %}ng-controller="assessmentsCtrl as main"{% endblock %} {% block title %}Questions {% endblock %} {% block loader_js_bottom %}
<script type="text/javascript" src="{% static 'js/assessments.js' %}"></script>
{% endblock loader_js_bottom %} {% block page_header %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><span ng-if="!display_terms[0].questions" ng-cloak="">Questions</span><span ng-if="display_terms[0].questions" ng-cloak="">{$ display_terms[0].questions $}</span></h2>
    </div>
</div>
{% endblock %} 

{% block editable_css %}
    <style type="text/css">
        .hand_cursor {
            cursor: pointer !important;
        }

        .hand_cursor:hover {
            background-color: #E8E8E8 !important;
        }
    </style>
{% endblock %}

{% block content_body %}
<div class="wrapper wrapper-content animated fadeIn" ng-cloak="">
    <div class="ibox">
        <div class="ibox-content" ng-class="main.page_loader.main ? 'sk-loading' : ''">
            {% include "common/loader.html" %} 
            <div class="row">
                <div class="col-sm-3">
                    <label><span ng-if="!display_terms[0].transaction_types" ng-cloak="">Transaction Types</span><span ng-if="display_terms[0].transaction_types" ng-cloak="">{$ display_terms[0].transaction_types $}</span></label> <span ng-if="!transaction_types[0]"><i class="fa fa-spinner fa-pulse"></i></span>
                    <ui-select ng-model="filter.transaction_type">
                        <ui-select-match placeholder="{$ transaction_types[0] ? 'Select...' : 'Please wait...' $}">{$ $select.selected.name $}</ui-select-match>
                        <ui-select-choices repeat="transaction_type in transaction_types | filter: $select.search | limitTo:50">
                            <div ng-bind-html="transaction_type.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-sm-3">
                    <label>&nbsp;</label>
                    <input type="text" class="form-control" ng-model="filter.code" placeholder="Search..." name="">
                    <!-- <div class="checkbox checkbox-success">
                        <input type="checkbox" name="is_general" id="is_general" ng-model="filter.is_general"><label for="is_general">General Questions</label>
                    </div> -->
                </div>
                <div class="col-sm-3">
                    <label>&nbsp;</label><br>
                    <button class="btn btn-default" ng-click="read()"><i class="fa fa-search"></i> SEARCH</button><br>
                </div>
                <div class="col-sm-3">
                    <label>&nbsp;</label><br>
                    <button class="btn btn-primary pull-right" ng-click="create_dialog()">CREATE</button><br>
                </div>
                <div class="clearfix"></div>
                <hr>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <th custom-sort order="code">Code</th>
                            <th custom-sort order="value"><span ng-if="!display_terms[0].questions" ng-cloak="">Question</span><span ng-if="display_terms[0].questions" ng-cloak="">{$ display_terms[0].questions $}</span></th>
                            <th><span ng-if="!display_terms[0].transaction_types" ng-cloak="">Transaction Types</span><span ng-if="display_terms[0].transaction_types" ng-cloak="">{$ display_terms[0].transaction_types $}</span></th>
                            <th>Multiple Choice</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="record in records" class="hand_cursor">
                                <td ng-click="load_to_edit(record)">{$ record.code $} <span ng-if="record.parent_question"><i class="fa fa-child"></i></span>
                                    <span ng-if="record.is_document"><i class="fa fa-camera"></i></span></td>
                                <td ng-click="load_to_edit(record)">{$ record.value $}</td>
                                <td ng-click="load_to_edit(record)">
                                    <span ng-if="record.transaction_types.length == 0">{$ record.transaction_type.name $}</span>
                                    <span ng-if="record.transaction_types">
                                        <ul>
                                            <li ng-repeat="type in record.transaction_types">
                                                {$ type.name $}
                                            </li>
                                        </ul>
                                    </span>
                                </td>
                                <td align="center" ng-click="load_to_edit(record)">
                                    <span ng-show="record.is_multiple">Yes</span>
                                    <span ng-show="!record.is_multiple">No</span>
                                </td>
                                <td><button class="btn btn-danger btn-sm" ng-click="delete(record)">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination></pagination>
            </div>
        </div>
    </div>
</div>
{% endblock %}
