{% extends "base.html" %} {% load static %} {% block ngapp %}ng-app="assessments"{% endblock %} {% block ngctrl %}ng-controller="assessmentsCtrl as main"{% endblock %} {% block title %}Questions {% endblock %} {% block loader_js_bottom %}
<script type="text/javascript" src="{% static 'js/assessments.js' %}"></script>
{% endblock loader_js_bottom %} {% block page_header %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><span ng-if="!display_terms[0].questions" ng-cloak="">Questions</span><span ng-if="display_terms[0].questions" ng-cloak="">{$ display_terms[0].questions $}</span></h2>
    </div>
</div>
{% endblock %} 

{% block editable_css %}
    <style type="text/css">
        .hand_cursor {
            cursor: pointer !important;
        }

        .hand_cursor:hover {
            background-color: #E8E8E8 !important;
        }
    </style>
{% endblock %}

{% block content_body %}
<div class="wrapper wrapper-content animated fadeIn" ng-cloak="">
    <div class="ibox">
        <div class="ibox-content" ng-class="main.page_loader.main ? 'sk-loading' : ''">
            {% include "common/loader.html" %} 
            <div class="row">
                <div class="col-sm-3">
                    <label><span ng-if="!display_terms[0].transaction_types" ng-cloak="">Transaction Types</span><span ng-if="display_terms[0].transaction_types" ng-cloak="">{$ display_terms[0].transaction_types $}</span></label> <span ng-if="!transaction_types[0]"><i class="fa fa-spinner fa-pulse"></i></span>
                    <ui-select ng-model="filter.transaction_type">
                        <ui-select-match placeholder="{$ transaction_types[0] ? 'Select...' : 'Please wait...' $}">{$ $select.selected.name $}</ui-select-match>
                        <ui-select-choices repeat="transaction_type in transaction_types | filter: $select.search | limitTo:50">
                            <div ng-bind-html="transaction_type.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-sm-3">
                    <label>&nbsp;</label>
                    <input type="text" class="form-control" ng-model="filter.code" placeholder="Search..." name="">
                    <!-- <div class="checkbox checkbox-success">
                        <input type="checkbox" name="is_general" id="is_general" ng-model="filter.is_general"><label for="is_general">General Questions</label>
                    </div> -->
                </div>
                <div class="col-sm-3">
                    <label>&nbsp;</label><br>
                    <button class="btn btn-default" ng-click="read()"><i class="fa fa-search"></i> SEARCH</button><br>
                </div>
                <div class="col-sm-3">
                    <label>&nbsp;</label><br>
                    <button class="btn btn-primary pull-right" ng-click="chooseQuestion()">CREATE</button><br>
                </div>
                <div class="clearfix"></div>
                <hr>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <th custom-sort order="code">Code</th>
                            <th custom-sort order="value"><span ng-if="!display_terms[0].questions" ng-cloak="">Question</span><span ng-if="display_terms[0].questions" ng-cloak="">{$ display_terms[0].questions $}</span></th>
                            <th><span ng-if="!display_terms[0].transaction_types" ng-cloak="">Transaction Types</span><span ng-if="display_terms[0].transaction_types" ng-cloak="">{$ display_terms[0].transaction_types $}</span></th>
                            <th>Multiple Choice</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, record) in records" class="hand_cursor">
                                <td ng-click="load_to_edit(record)">{$ record.code $} <span ng-if="record.parent_question"><i class="fa fa-child"></i></span>
                                    <span ng-if="record.is_document"><i class="fa fa-camera"></i></span></td>
                                <td>
                                    <div ng-click="load_to_edit(record)" ng-if="record.value">
                                        {$ record.value $}
                                    </div>
                                    <div align="center" class="carousel slide" id="carousel{$ key+1 $}" ng-if="record.images">
                                        <div ng-click="load_to_edit(record)" class="carousel-inner">
                                            <div class="item" ng-class="{'active': key1 == 0 }" ng-repeat="(key1,image) in record.images">
                                                <img style="height:100px;width:100px;" src="http://35.196.233.235{$image.image$}" class="img-responsive img-rounded" alt="image">
                                            </div>
                                        </div>
                                        <a data-slide="prev" href="#carousel{$ key+1 $}" class="left carousel-control">
                                            <span class="icon-prev"></span>
                                        </a>
                                        <a data-slide="next" href="#carousel{$ key+1 $}" class="right carousel-control">
                                            <span class="icon-next"></span>
                                        </a>
                                    </div>
                                </td>
                                <td ng-click="load_to_edit(record)">
                                    <span ng-if="record.transaction_types.length == 0">{$ record.transaction_type.name $}</span>
                                    <span ng-if="record.transaction_types">
                                        <ul>
                                            <li ng-repeat="type in record.transaction_types">
                                                {$ type.name $}
                                            </li>
                                        </ul>
                                    </span>
                                </td>
                                <td align="center" ng-click="load_to_edit(record)">
                                    <span ng-show="record.is_multiple">Yes</span>
                                    <span ng-show="!record.is_multiple">No</span>
                                </td>
                                <td><button class="btn btn-danger btn-sm" ng-click="delete(record)">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination></pagination>
            </div>
        </div>
    </div>
</div>

<div class="modal dialog_whole" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <!-- <div class="modal-body"> -->
                <div class="wrapper wrapper-content animated fadeIn modalibox">
                    <div class="ibox">
                        <div class="ibox-title ibox_title_reset">
                            <h3><span ng-if="!display_terms[0].questions" ng-cloak="">Question</span><span ng-if="display_terms[0].questions" ng-cloak="">{$ display_terms[0].questions $}</span></h3>
                        </div>

                        <div class="ibox-content" ng-class="main.page_loader.dialog ? 'sk-loading' : ''" ng-style="modal_style">
                            <div class="row">
                                <form class="form" name="form">
                                    <!-- <div class="col-sm-12">
                                        <div class="checkbox checkbox-success">
                                            <input type="checkbox" id="is_general" name="is_general" ng-model="record.is_general" ng-click="record.code=null;record.transaction_types={};record.transaction_type={}" ng-disabled="record.id"><label for="is_general">General <span ng-if="!display_terms[0].questions" ng-cloak="">Question</span><span ng-if="display_terms[0].questions" ng-cloak="">{$ display_terms[0].questions $}</span></label>
                                        </div>
                                    </div> -->
                                    <div class="col-sm-12" ng-if="record.is_general">
                                        <label><span ng-if="!display_terms[0].transaction_types" ng-cloak="">Transaction Types</span><span ng-if="display_terms[0].transaction_types" ng-cloak="">{$ display_terms[0].transaction_types $}</span></label> <span ng-if="!transaction_types[0]"><i class="fa fa-spinner fa-pulse"></i></span>
                                        <ui-select ng-model="record.transaction_types" multiple ng-change="generate_code()">
                                            <ui-select-match placeholder="{$ transaction_types[0] ? 'Select...' : 'Please wait...' $}">{$ $item.name $}</ui-select-match>
                                            <ui-select-choices repeat="transaction_type in transaction_types2 | filter: $select.search | limitTo:50">
                                                <!-- <div ng-bind-html="transaction_type.name | highlight: $select.search"></div> -->
                                                <span ng-bind-html="transaction_type.name | highlight: $select.search"></span> - Set <span ng-bind-html="transaction_type.set_no | highlight: $select.search"></span> - <span ng-bind-html="transaction_type.transaction_code | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-sm-12" ng-if="!record.is_general">
                                        <label><span ng-if="!display_terms[0].transaction_types" ng-cloak="">Transaction Type</span><span ng-if="display_terms[0].transaction_types" ng-cloak="">{$ display_terms[0].transaction_types $}</span></label> <span ng-if="!transaction_types[0]"><i class="fa fa-spinner fa-pulse"></i></span>
                                        <ui-select ng-model="record.transaction_type" ng-change="generate_code()">
                                            <ui-select-match placeholder="{$ transaction_types[0] ? 'Select...' : 'Please wait...' $}">{$ $select.selected.name $} - {$ $select.selected.set_no $}</ui-select-match>
                                            <ui-select-choices repeat="transaction_type in transaction_types2 | filter: $select.search | limitTo:50">
                                                <span ng-bind-html="transaction_type.name | highlight: $select.search"></span> - Set <span ng-bind-html="transaction_type.set_no | highlight: $select.search"></span> - <span ng-bind-html="transaction_type.transaction_code | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div ng-show="record.transaction_types || record.transaction_type">
                                        <div class="col-sm-12" ng-class="{ 'has-error' : form.code.$invalid && !form.code.$pristine }">
                                            <label class="required">Code</label>
                                            <input type="text" name="code" ng-model="record.code" required class="form-control" disabled>
                                        </div>
                                        <div class="clearfix"></div>
                                        <hr>
                                        <div class="col-sm-12">
                                            <label class="btn btn-outline btn-success" for="my-file-selector">
                                                <input type="file" style="display:none;" name="image" class="ng-pristine ng-untouched ng-valid ng-empty " file-model="record.images" id="my-file-selector" multiple accept=".png,.jpg,.jpeg">
                                                Choose file...
                                            </label>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="lightBoxGallery">
                                                <div class="col-sm-2" ng-repeat="image in ImageSrc">
                                                    <a href="{$ image.image $}" title="" data-gallery="">
                                                        <img src="{$ image.image $}"  class="img-rounded" style="height:100px;width:100px;"><br>
                                                    </a>
                                                    <button class="btn bt-outline btn-danger" ng-click="remove_image(image, $index)"><i class="fa fa-trash-o"></i></button>
                                                </div>
                                                <div class="col-sm-2" ng-repeat="imageUpload in ImageSrcUpload">
                                                    <a href="{$ imageUpload.image $}" title="" data-gallery="">
                                                        <img src="{$ imageUpload.image $}"  class="img-rounded" style="height:100px;width:100px;"><br>
                                                    </a>
                                                    <button class="btn bt-outline btn-danger" ng-click="remove_image(imageUpload, $index)"><i class="fa fa-trash-o"></i></button>
                                                </div>
                                                <div id="blueimp-gallery" class="blueimp-gallery">
                                                    <div class="slides"></div>
                                                    <h3 class="title"></h3>
                                                    <a class="prev">‹</a>
                                                    <a class="next">›</a>
                                                    <a class="close">×</a>
                                                    <a class="play-pause"></a>
                                                    <ol class="indicator"></ol>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-sm-12" ng-hide="true">
                                            <br>
                                            <div class="checkbox checkbox-success">
                                                <input type="checkbox" id="is_active" name="is_active" ng-model="record.is_active"><label for="is_active">Active</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <br>
                                            <div class="checkbox checkbox-success">
                                                <input type="checkbox" id="is_document" name="is_document" ng-model="record.is_document" ng-click="isMultiple()"><label for="is_document">Needs document image</label>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-sm-12">
                                            <table class="table">
                                                <thead>
                                                    <th>Item #</th>
                                                    <th>Answer</th>
                                                    <th></th>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="(key, answer) in answers">
                                                        <td>
                                                            <input type="number" min="0" name="item" ng-model="answer.item_no" class="form-control">
                                                        </td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <div class="btn-group" uib-dropdown>
                                                                    <button type="button" class="btn btn-outline btn-primary btn-xs" uib-dropdown-toggle>
                                                                        Insert <span class="caret"></span>
                                                                    </button>
                                                                    <ul role="menu" uib-dropdown-menu="" ng-click="$event.stopPropagation()" style="width: 500px;height: 250px;overflow: auto;">
                                                                        <input type="text" name="search" style="margin: 5px;width: 98%;" ng-model="searchText" class="form-control" placeholder="Search...">
                                                                        <div ng-repeat="symbolPerCategory in catergoryToFilter() | filter:filterCategory">
                                                                            <label style="margin: 5px;">{$ symbolPerCategory.category $}</label><br>
                                                                            <button style="margin: 5px;" title="{$symbol.name$}" ng-repeat="symbol in math_symbols | filter:{category:symbolPerCategory.category} | filter:searchText" class="btn btn-primary btn-outline btn-sm" ng-click="insertSymbol(key+1,symbol,answer)">{$ symbol.symbol $}</button>
                                                                        </div>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <textarea id="answer_{$key+1$}" ng-change="answerDisplay(answer)" ng-model="answer.answer" class="form-control"></textarea><br>
                                                            <textarea ng-hide="true" ng-model="answer.answer_display" class="form-control"></textarea>
                                                            Preview: <span mathjax-bind="answer.answer_display"></span>
                                                        </td>
                                                        <td>
                                                            <a href="" class="btn bt-outline btn-danger" ng-click="remove_answer(answer, $index)"><i class="fa fa-trash-o"></i></a> 
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="number" min="0" name="item" ng-model="answer_list.item_no" class="form-control">
                                                        </td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <div class="btn-group" uib-dropdown>
                                                                    <button type="button" class="btn btn-outline btn-primary btn-xs" uib-dropdown-toggle>
                                                                        Insert <span class="caret"></span>
                                                                    </button>
                                                                    <ul role="menu" uib-dropdown-menu="" ng-click="$event.stopPropagation()" style="width: 500px;height: 250px;overflow: auto;">
                                                                        <input type="text" name="search" style="margin: 5px;width: 98%;" ng-model="searchText" class="form-control" placeholder="Search...">
                                                                        <div ng-repeat="symbolPerCategory in catergoryToFilter() | filter:filterCategory">
                                                                            <label style="margin: 5px;">{$ symbolPerCategory.category $}</label><br>
                                                                            <button style="margin: 5px;" title="{$symbol.name$}" ng-repeat="symbol in math_symbols | filter:{category:symbolPerCategory.category} | filter:searchText" class="btn btn-primary btn-outline btn-sm" ng-click="insertSymbolList(symbol,answer_list)">{$ symbol.symbol $}</button>
                                                                        </div>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <textarea id="answer_list_id" ng-enter="onEnter(answer_list, $index)" ng-change="answerDisplay(answer_list)" ng-model="answer_list.answer" class="form-control"></textarea><br>
                                                            <textarea ng-hide="true" ng-model="answer_list.answer_display" class="form-control"></textarea>
                                                            Preview: <span mathjax-bind="answer_list.answer_display"></span>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-white" ng-click="add_answer(answer_list)" ng-disabled="!answer_list.answer || !answer_list.item_no"><i class="fa fa-plus"></i></button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-sm-12">
                                            <br>
                                            <div class="tabs-container">
                                                <uib-tabset>
                                                    <uib-tab heading="Finding">
                                                        <br>
                                                        <table class="table">
                                                            <tr ng-repeat="(key, finding) in findings">
                                                                <td>
                                                                    <textarea ng-model="finding.value" class="form-control"></textarea>
                                                                </td>
                                                                <td>
                                                                    <a href="" class="btn bt-outline btn-danger" ng-click="remove_finding(finding, $index)"><i class="fa fa-trash-o"></i></a> 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <textarea ng-model="finding_list.value" class="form-control"></textarea>
                                                                </td>
                                                                <td>
                                                                    <button class="btn btn-white" ng-click="add_finding(finding_list)" ng-disabled="!finding_list.value"><i class="fa fa-plus"></i></button>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </uib-tab>
                                                    <uib-tab heading="Effect">
                                                        <br>
                                                        <table class="table">
                                                            <tbody>
                                                                <tr ng-repeat="(key, effect) in effects">
                                                                    <td>
                                                                        <textarea ng-model="effect.value" class="form-control"></textarea>
                                                                    </td>
                                                                    <td>
                                                                        <a href="" class="btn bt-outline btn-danger" ng-click="remove_effect(effect, $index)"><i class="fa fa-trash-o"></i></a> 
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <textarea ng-model="effect_list.value" class="form-control"></textarea>
                                                                    </td>
                                                                    <td>
                                                                        <button class="btn btn-white" ng-click="add_effect(effect_list)" ng-disabled="!effect.value"><i class="fa fa-plus"></i></button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </uib-tab>
                                                </uib-tabset>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="ibox-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-sm btn-primary btn-w-m" ng-click="create(false)" ng-disabled="form.$invalid">Save</button>
                                <button type="button" class="btn btn-sm btn-danger btn-w-m" ng-click="upload_close_dialog()">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div> -->
        </div>
    </div>
</div>
{% endblock %}
